Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

.pre-commit-config.yaml:

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files

  # Local script hooks
  - repo: local
    hooks:
      # Format code using our format script
      - id: format
        name: format
        entry: bash scripts/format.sh
        language: system
        types: [python]
        pass_filenames: true

      # Lint code using our lint script
      - id: lint
        name: lint
        entry: bash scripts/lint.sh
        language: system
        types: [python]
        pass_filenames: true

      # Type check using our type-check script
      - id: type-check
        name: type-check
        entry: bash scripts/type-check.sh
        language: system
        types: [python]
        # don't run on tests
        exclude: ^tests/
        pass_filenames: true

feat: enhance file content analyser and reorganize runbooks
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
  README.md
  runbooks/README.md
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/analysers/file_content_analyser/analyser.py
  src/wct/cli.py
  src/wct/executor.py
  tests/wct/connectors/file/sample_file.txt
Due: format, lint, type-check

feat: enhance file content analyser and reorganize runbooks (#43)
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
  README.md
  runbooks/README.md
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/analysers/file_content_analyser/analyser.py
  src/wct/cli.py
  src/wct/executor.py
  tests/wct/connectors/file/sample_file.txt
Due: format, lint, type-check

fix: eliminate duplicate evidence in Personal Data Analyser
  runbooks/samples/LAMP_stack.yaml
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/connectors/mysql/connector.py
Due: format, lint, type-check

fix: eliminate duplicate evidence in Personal Data Analyser (#44)
  runbooks/samples/LAMP_stack.yaml
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/connectors/mysql/connector.py
Due: format, lint, type-check

fix: correct model name logging in LLM service initialization
  src/wct/llm_service.py
Due: format, lint, type-check

chore: update personal data analyser configuration and method calls
  runbooks/samples/LAMP_stack.yaml
  src/wct/analysers/personal_data_analyser/analyser.py
Due: format, lint, type-check

feat: add CODEOWNERS file for open source project governance
  .github/CODEOWNERS
Due: none

feat: open source governance and bug fixes (#45)
  .github/CODEOWNERS
  runbooks/samples/LAMP_stack.yaml
  src/wct/analysers/personal_data_analyser/analyser.py
Due: format, lint, type-check

refactor: simplify ruleset implementation and eliminate complexity
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/source_code_schema_input_handler.py
  src/wct/rulesets/__init__.py
  src/wct/rulesets/base.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/personal_data_source_code_behaviours.py
  src/wct/rulesets/processing_purposes.py
Due: format, lint, type-check

refactor: remove auto-generated tests to simplify test suite
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_source_code_handler_architecture.py
  tests/wct/connectors/test_base.py
  tests/wct/rulesets/test_personal_data.py
  tests/wct/rulesets/test_processing_purposes.py
Due: format, lint

test: add dummy test to prevent pytest exit code 5 error
  tests/wct/rulesets/test_personal_data.py
  tests/wct/rulesets/test_processing_purposes.py
Due: format, lint

ci: reduce Python versions and environments to speed up development
  .github/workflows/ci.yaml
Due: none

ci: reduce Python versions and environments to speed up development
  .github/workflows/ci.yaml
  scripts/ci-checks.sh
  scripts/pre-commit.sh
Due: none

refactor: remove file content analyser to simplify codebase
  CLAUDE.md
  README.md
  runbooks/README.md
  runbooks/samples/file_content_analysis.yaml
  src/wct/analysers/__init__.py
  src/wct/analysers/file_content_analyser/__init__.py
  src/wct/analysers/file_content_analyser/analyser.py
  src/wct/schemas/file_content_analysis_result.json
  src/wct/schemas/file_content_analysis_result.sample.json
  tests/wct/analysers/file_content_analyser/__init__.py
Due: format, lint, type-check

fix: apply pre-commit hook formatting fixes
  CLAUDE.md
  README.md
  runbooks/samples/file_content_analysis.yaml
  src/wct/connectors/__init__.py
  src/wct/connectors/base.py
  src/wct/connectors/file/__init__.py
  src/wct/connectors/file/connector.py
  src/wct/connectors/filesystem/__init__.py
  src/wct/connectors/filesystem/connector.py
  tests/wct/connectors/file/__init__.py
  tests/wct/connectors/filesystem/__init__.py
  tests/wct/connectors/filesystem/mixed_content_sample.txt
  tests/wct/connectors/filesystem/sample_file.txt
Due: format, lint, type-check

refactor: eliminate code duplication and remove unused features in source code connector
  runbooks/samples/LAMP_stack.yaml
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/source_code/connector.py
Due: format, lint, type-check

docs: update documentation to reflect current codebase architecture
  CLAUDE.md
  README.md
Due: none

docs: add git workflow and PR creation requirements to CLAUDE.md
  CLAUDE.md
Due: none

docs: add git workflow and PR requirements to CLAUDE.md
  CLAUDE.md
Due: none

refactor: rename 'text' schema to 'standard_input' for better clarity
  CLAUDE.md
  README.md
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/schemas/standard_input.json
  src/wct/schemas/standard_input.sample.json
Due: format, lint, type-check

refactor: rename 'text' schema to 'standard_input' for better clarity (#51)
  CLAUDE.md
  README.md
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/schemas/standard_input.json
  src/wct/schemas/standard_input.sample.json
Due: format, lint, type-check

refactor: rename 'personal_data_analysis_findings' to 'personal_data_finding'
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/schemas/personal_data_finding.json
  src/wct/schemas/personal_data_finding.sample.json
Due: format, lint, type-check

refactor: rename 'personal_data_analysis_findings' to 'personal_data_finding' (#52)
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/schemas/personal_data_finding.json
  src/wct/schemas/personal_data_finding.sample.json
Due: format, lint, type-check

docs: update README.md reference to personal_data_finding schema
  README.md
Due: none

refactor: rename 'personal_data_analysis_findings' to 'personal_data_finding' (#53)
  README.md
Due: none

feature: implement processing_purpose_analyser
  src/wct/analysers/__init__.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/__init__.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/source_code/connector.py
  src/wct/schemas/processing_purpose_finding.json
  src/wct/schemas/processing_purpose_finding.sample.json
Due: format, lint, type-check

refactor: eliminate code duplication with BaseComplianceAnalyser
  runbooks/samples/LAMP_stack.yaml
  src/wct/analysers/base_compliance.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
Due: format, lint, type-check

feat: implement ProcessingPurposeAnalyser with BaseComplianceAnalyser refactoring (#54)
  runbooks/samples/LAMP_stack.yaml
  src/wct/analysers/__init__.py
  src/wct/analysers/base_compliance.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/__init__.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/source_code/connector.py
  src/wct/schemas/processing_purpose_finding.json
  src/wct/schemas/processing_purpose_finding.sample.json
Due: format, lint, type-check

docs: streamline CLAUDE.md for better readability and conciseness
  CLAUDE.md
Due: none

remove obsolete wct.yaml configuration file
  wct.yaml
Due: none
