Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

.pre-commit-config.yaml:

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files

  # Local script hooks
  - repo: local
    hooks:
      # Format code using our format script
      - id: format
        name: format
        entry: bash scripts/format.sh
        language: system
        types: [python]
        pass_filenames: true

      # Lint code using our lint script
      - id: lint
        name: lint
        entry: bash scripts/lint.sh
        language: system
        types: [python]
        pass_filenames: true

      # Type check using our type-check script
      - id: type-check
        name: type-check
        entry: bash scripts/type-check.sh
        language: system
        types: [python]
        # don't run on tests
        exclude: ^tests/
        pass_filenames: true

Simplify dependency structure by removing optional groups
  CLAUDE.md
  README.md
  pyproject.toml
  uv.lock
Due: none

Simplify dependency structure by removing optional groups (#118)
  CLAUDE.md
  README.md
  pyproject.toml
  uv.lock
Due: none

Modernise type annotations to Python 3.12+ syntax
  src/wct/analysers/llm_validation/decision_engine.py
  src/wct/analysers/llm_validation/strategy.py
  src/wct/rulesets/base.py
  src/wct/rulesets/types.py
  src/wct/schemas/validation.py
Due: format, lint, type-check

Modernise type annotations to Python 3.12+ syntax (#119)
  src/wct/analysers/llm_validation/decision_engine.py
  src/wct/analysers/llm_validation/strategy.py
  src/wct/rulesets/base.py
  src/wct/rulesets/types.py
  src/wct/schemas/validation.py
Due: format, lint, type-check

Omit null fields from JSON output and fix schema validation issues
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/rulesets/data/data_collection/1.0.0/data_collection.yaml
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/rulesets/data/service_integrations/1.0.0/service_integrations.yaml
  src/wct/rulesets/types.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.json
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.json
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.sample.json
  src/wct/schemas/source_code.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

Omit null fields from JSON output and fix schema validation issues (#120)
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/rulesets/data/data_collection/1.0.0/data_collection.yaml
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/rulesets/data/service_integrations/1.0.0/service_integrations.yaml
  src/wct/rulesets/types.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.json
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.json
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.sample.json
  src/wct/schemas/source_code.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

Convert ruleset categories to lowercase for consistency
  src/wct/analysers/processing_purpose_analyser/README.md
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/rulesets/data/processing_purposes/1.0.0/processing_purposes.yaml
  src/wct/rulesets/data/service_integrations/1.0.0/service_integrations.yaml
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

Convert ruleset categories to lowercase for consistency (#121)
  src/wct/analysers/processing_purpose_analyser/README.md
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/rulesets/data/processing_purposes/1.0.0/processing_purposes.yaml
  src/wct/rulesets/data/service_integrations/1.0.0/service_integrations.yaml
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

Refactor rulesets to eliminate API duplication and unnecessary super calls
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
Due: format, lint, type-check

Refactor rulesets to eliminate API duplication and unnecessary super calls (#122)
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
Due: format, lint, type-check

Rename Ruleset to AbstractRuleset and BaseRuleset to RulesetData
  src/wct/rulesets/README.md
  src/wct/rulesets/base.py
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
  src/wct/rulesets/types.py
  tests/wct/rulesets/test_base.py
Due: format, lint, type-check

Rename Ruleset classes to clarify naming conventions (#124)
  src/wct/rulesets/README.md
  src/wct/rulesets/base.py
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
  src/wct/rulesets/types.py
  tests/wct/rulesets/test_base.py
Due: format, lint, type-check

Implement generic metadata type system for WCT connectors
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/schemas/__init__.py
  src/wct/schemas/standard_input.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser_llm_validation_behaviour.py
  tests/wct/connectors/filesystem/test_connector.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/schemas/test_standard_input.py
Due: format, lint, type-check

Implement data subject classification ruleset infrastructure for GDPR compliance
  .gitignore
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/rulesets/README.md
  src/wct/rulesets/__init__.py
  src/wct/rulesets/data/data_subjects/1.0.0/data_subjects.yaml
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/data_subjects.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
  src/wct/rulesets/types.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/utilities/test_ruleset_manager.py
  tests/wct/rulesets/test_base.py
  tests/wct/rulesets/test_data_collection.py
  tests/wct/rulesets/test_data_subject.py
  tests/wct/rulesets/test_personal_data.py
  tests/wct/rulesets/test_processing_purposes.py
  tests/wct/rulesets/test_service_integrations.py
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

Expand data subject YAML ruleset with comprehensive patterns and context validation
  src/wct/rulesets/data/data_subjects/1.0.0/data_subjects.yaml
  src/wct/rulesets/data_subjects.py
  tests/wct/rulesets/test_data_subject.py
Due: format, lint, type-check

Implement data subject finding schema for GDPR Article 30(1)(c) output format
  src/wct/schemas/__init__.py
  src/wct/schemas/data_subject_finding.py
  src/wct/schemas/json_schemas/data_subject_finding/1.0.0/data_subject_finding.json
  src/wct/schemas/json_schemas/data_subject_finding/1.0.0/data_subject_finding.sample.json
  tests/wct/schemas/test_data_subject_finding.py
Due: format, lint, type-check

Implement data subject analyser with confidence scoring and datetime serialisation fixes
  runbooks/samples/LAMP_stack.yaml
  src/wct/analysers/__init__.py
  src/wct/analysers/data_subject_analyser/__init__.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/data_subject_analyser/confidence_scorer.py
  src/wct/analysers/data_subject_analyser/pattern_matcher.py
  src/wct/analysers/data_subject_analyser/types.py
  src/wct/analysers/types.py
  src/wct/rulesets/data/data_subjects/1.0.0/data_subjects.yaml
  src/wct/rulesets/data_subjects.py
  src/wct/schemas/json_schemas/data_subject_finding/1.0.0/data_subject_finding.json
  src/wct/schemas/json_schemas/data_subject_finding/1.0.0/data_subject_finding.sample.json
  tests/wct/analysers/data_subject_analyser/test_analyser.py
  tests/wct/analysers/data_subject_analyser/test_confidence_scorer.py
  tests/wct/analysers/data_subject_analyser/test_pattern_matcher.py
  tests/wct/rulesets/test_data_subject.py
Due: format, lint, type-check

Fix pattern matching to report only actually matched patterns
  src/wct/analysers/data_subject_analyser/pattern_matcher.py
  tests/wct/analysers/data_subject_analyser/test_analyser.py
Due: format, lint, type-check

Add filesystem_mock_lite for optimised E2E testing
  runbooks/samples/file_content_analysis.yaml
  tests/wct/connectors/filesystem/filesystem_mock_lite/README_lite.md
  tests/wct/connectors/filesystem/filesystem_mock_lite/compliance/encoded_data.xml
  tests/wct/connectors/filesystem/filesystem_mock_lite/compliance/international_formats.csv
  tests/wct/connectors/filesystem/filesystem_mock_lite/config/app_config.yaml
  tests/wct/connectors/filesystem/filesystem_mock_lite/finance/customer_data.sql
  tests/wct/connectors/filesystem/filesystem_mock_lite/hr/personal_data_sample.txt
  tests/wct/connectors/filesystem/filesystem_mock_lite/logs/audit_activities.log
  tests/wct/connectors/filesystem/filesystem_mock_lite/logs/false_positives.log
  tests/wct/connectors/filesystem/filesystem_mock_lite/logs/payment_transactions.log
  tests/wct/connectors/filesystem/filesystem_mock_lite/mixed_content_lite.txt
  tests/wct/connectors/filesystem/filesystem_mock_lite/source_code/auth_controller.php
  tests/wct/connectors/filesystem/filesystem_mock_lite/source_code/user_model.py
  tests/wct/connectors/filesystem/filesystem_mock_lite/uploads/malformed_samples.txt
  tests/wct/connectors/filesystem/filesystem_mock_lite/uploads/support_tickets.json
Due: format, lint

Optimise E2E testing with filesystem_mock_lite (#126)
  runbooks/samples/file_content_analysis.yaml
  tests/wct/connectors/filesystem/filesystem_mock_lite/README_lite.md
  tests/wct/connectors/filesystem/filesystem_mock_lite/compliance/encoded_data.xml
  tests/wct/connectors/filesystem/filesystem_mock_lite/compliance/international_formats.csv
  tests/wct/connectors/filesystem/filesystem_mock_lite/config/app_config.yaml
  tests/wct/connectors/filesystem/filesystem_mock_lite/finance/customer_data.sql
  tests/wct/connectors/filesystem/filesystem_mock_lite/hr/personal_data_sample.txt
  tests/wct/connectors/filesystem/filesystem_mock_lite/logs/audit_activities.log
  tests/wct/connectors/filesystem/filesystem_mock_lite/logs/false_positives.log
  tests/wct/connectors/filesystem/filesystem_mock_lite/logs/payment_transactions.log
  tests/wct/connectors/filesystem/filesystem_mock_lite/mixed_content_lite.txt
  tests/wct/connectors/filesystem/filesystem_mock_lite/source_code/auth_controller.php
  tests/wct/connectors/filesystem/filesystem_mock_lite/source_code/user_model.py
  tests/wct/connectors/filesystem/filesystem_mock_lite/uploads/malformed_samples.txt
  tests/wct/connectors/filesystem/filesystem_mock_lite/uploads/support_tickets.json
Due: format, lint

Implement SQLite database connector with comprehensive testing
  docker/wordpress/.env
  docker/wordpress/README.md
  docker/wordpress/build.sh
  docker/wordpress/docker-compose.yml
  docker/wordpress/scripts/entrypoint.sh
  docker/wordpress/seed-data/01-seed-data.sql
  docker/wordpress/start.sh
  docker/wordpress/stop.sh
  src/wct/connectors/database/__init__.py
  src/wct/connectors/database/base_connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/sqlite/__init__.py
  src/wct/connectors/sqlite/config.py
  src/wct/connectors/sqlite/connector.py
  tests/integration/test_sqlite_e2e.py
  tests/wct/connectors/database_core/test_base_connector.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/connectors/sqlite/test_config.py
  tests/wct/connectors/sqlite/test_connector.py
Due: format, lint, type-check

Complete SQLite connector with E2E testing and configuration cleanup
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/LAMP_stack_lite.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/connectors/__init__.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/sqlite/__init__.py
  src/wct/connectors/sqlite/connector.py
  tests/integration/test_data/create_sqlite_compliance_test.py
  tests/integration/test_data/sqlite_compliance_test.db
  tests/integration/test_sqlite_e2e.py
  tests/wct/connectors/sqlite/test_connector.py
  tests/wct/test_executor.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

Implement SQLite database connector with comprehensive E2E testing (#127)
  docker/wordpress/.env
  docker/wordpress/README.md
  docker/wordpress/build.sh
  docker/wordpress/docker-compose.yml
  docker/wordpress/scripts/entrypoint.sh
  docker/wordpress/seed-data/01-seed-data.sql
  docker/wordpress/start.sh
  docker/wordpress/stop.sh
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/LAMP_stack_lite.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/connectors/__init__.py
  src/wct/connectors/database/__init__.py
  src/wct/connectors/database/base_connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/sqlite/__init__.py
  src/wct/connectors/sqlite/config.py
  src/wct/connectors/sqlite/connector.py
  tests/integration/test_data/create_sqlite_compliance_test.py
  tests/integration/test_data/sqlite_compliance_test.db
  tests/integration/test_sqlite_e2e.py
  tests/wct/connectors/database_core/test_base_connector.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/connectors/sqlite/test_config.py
  tests/wct/connectors/sqlite/test_connector.py
  tests/wct/test_executor.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

Add CLI E2E tests and GitHub Actions artifacts
  .github/workflows/ci.yaml
  tests/cli/test_cli_e2e.py
Due: format, lint

Add CLI E2E tests and GitHub Actions artifacts (#128)
  .github/workflows/ci.yaml
  tests/cli/test_cli_e2e.py
Due: format, lint

Enhance schema validation and analysis capabilities
  CLAUDE.md
  docs/development_roadmap.md
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/prompts/personal_data_validation.py
  src/wct/prompts/processing_purpose_validation.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  tests/integration/test_sqlite_e2e.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_pattern_matcher.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
Due: format, lint, type-check

Enhance schema validation and analysis capabilities (#129)
  CLAUDE.md
  docs/development_roadmap.md
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/prompts/personal_data_validation.py
  src/wct/prompts/processing_purpose_validation.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  tests/integration/test_sqlite_e2e.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_pattern_matcher.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
Due: format, lint, type-check

Extract shared database connector logic into reusable utilities
  src/wct/connectors/database/extraction_utils.py
  src/wct/connectors/database/query_utils.py
  src/wct/connectors/database/schema_utils.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/sqlite/connector.py
  tests/wct/connectors/database/test_base_connector.py
  tests/wct/connectors/database/test_extraction_utils.py
  tests/wct/connectors/database/test_integration.py
  tests/wct/connectors/database/test_query_utils.py
  tests/wct/connectors/database/test_schema_utils.py
  tests/wct/connectors/mysql/test_connector.py
Due: format, lint, type-check

Add MySQL connector business requirement test stubs and clean up duplicate test analysis
  src/wct/connectors/database/query_utils.py
  tests/wct/connectors/database/test_integration.py
  tests/wct/connectors/database/test_query_utils.py
  tests/wct/connectors/mysql/test_connector.py
Due: format, lint, type-check

Extract shared database connector logic into reusable utilities (#130)
  src/wct/connectors/database/extraction_utils.py
  src/wct/connectors/database/schema_utils.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/sqlite/connector.py
  tests/wct/connectors/database/test_base_connector.py
  tests/wct/connectors/database/test_extraction_utils.py
  tests/wct/connectors/database/test_integration.py
  tests/wct/connectors/database/test_schema_utils.py
  tests/wct/connectors/mysql/test_connector.py
Due: format, lint, type-check

Improve README user-friendliness and add LLM validation setup
  README.md
Due: none

Improve README user-friendliness and add LLM validation setup (#131)
  README.md
Due: none

Make compliance and matched_patterns fields truly mandatory
  src/wct/analysers/data_subject_analyser/pattern_matcher.py
  src/wct/analysers/data_subject_analyser/types.py
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/analysers/types.py
  src/wct/analysers/utilities/evidence_extractor.py
  src/wct/schemas/__init__.py
  src/wct/schemas/base.py
  src/wct/schemas/data_subject_finding.py
  src/wct/schemas/json_schemas/data_subject_finding/1.0.0/data_subject_finding.json
  src/wct/schemas/json_schemas/data_subject_finding/1.0.0/data_subject_finding.sample.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
  src/wct/schemas/types.py
  tests/wct/analysers/data_subject_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
  tests/wct/prompts/test_processing_purpose_validation.py
Due: format, lint, type-check

Implement mandatory analysis chain tracking for audit compliance
  src/wct/analysers/base.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/schemas/types.py
  tests/wct/analysers/data_subject_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/test_base_analyser_chain_logic.py
  tests/wct/schemas/test_analysis_chain_support.py
  tests/wct/schemas/test_base_finding_validation.py
Due: format, lint, type-check

feat: standardise finding output schema to enable chain of analyses (#132)
  src/wct/analysers/base.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/data_subject_analyser/pattern_matcher.py
  src/wct/analysers/data_subject_analyser/types.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/analysers/types.py
  src/wct/analysers/utilities/evidence_extractor.py
  src/wct/schemas/__init__.py
  src/wct/schemas/base.py
  src/wct/schemas/data_subject_finding.py
  src/wct/schemas/json_schemas/data_subject_finding/1.0.0/data_subject_finding.json
  src/wct/schemas/json_schemas/data_subject_finding/1.0.0/data_subject_finding.sample.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
  src/wct/schemas/types.py
  tests/wct/analysers/data_subject_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
  tests/wct/analysers/test_base_analyser_chain_logic.py
  tests/wct/prompts/test_processing_purpose_validation.py
  tests/wct/schemas/test_analysis_chain_support.py
  tests/wct/schemas/test_base_finding_validation.py
Due: format, lint, type-check

docs: fix README example runbook configuration
  README.md
Due: none

docs: fix README example runbook configuration (#133)
  README.md
Due: none
