Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

format:
  name: format
  entry: bash scripts/pre-commit-format.sh
  language: system
  pass_filenames: true

lint:
  name: lint
  entry: bash scripts/pre-commit-lint.sh
  language: system
  pass_filenames: true

type-check:
  name: type-check
  entry: bash scripts/pre-commit-type-check.sh
  language: system
  pass_filenames: true

feat: add BaseComponentConfiguration for typed component configs (#169)
  docs/adr/0002-dependency-injection-for-service-management.md
  docs/architecture/dependency-injection-implementation-plan.md
  docs/architecture/di-factory-patterns.md
  libs/waivern-core/src/waivern_core/__init__.py
  libs/waivern-core/src/waivern_core/component_factory.py
  libs/waivern-core/src/waivern_core/services/__init__.py
  libs/waivern-core/src/waivern_core/services/configuration.py
  libs/waivern-core/tests/waivern_core/services/test_configuration.py
  libs/waivern-core/tests/waivern_core/test_component_factory.py
Due: format, lint, type-check

fix: enable type-checking for waivern-llm in pre-commit
  .pre-commit-config.yaml
  libs/waivern-rulesets/tests/conftest.py
  libs/waivern-rulesets/tests/waivern_rulesets/test_base.py
Due: format, lint, type-check

fix: update waivern-llm type-check script to include tests
  libs/waivern-llm/scripts/type-check.sh
Due: none

fix: update waivern-rulesets type-check script to include tests
  libs/waivern-rulesets/scripts/type-check.sh
Due: none

fix: update wct type-check script and fix test type errors
  apps/wct/scripts/type-check.sh
  apps/wct/src/wct/metadata.py
  apps/wct/tests/schemas/test_standard_input.py
  apps/wct/tests/test_analysis.py
  apps/wct/tests/test_cli.py
Due: format, lint, type-check

fix: standardize package scripts and fix waivern-community type errors properly
  .pre-commit-config.yaml
  libs/waivern-community/scripts/type-check.sh
  libs/waivern-community/tests/conftest.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/test_confidence_scorer.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_pattern_matcher.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
  libs/waivern-community/tests/waivern_community/analysers/test_vendor_database_protection.py
  libs/waivern-community/tests/waivern_community/connectors/database/test_base_connector.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/filesystem_mock/source_code/data_model.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/filesystem_mock_lite/source_code/user_model.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_parser.py
  libs/waivern-mysql/scripts/format.sh
  libs/waivern-mysql/scripts/lint.sh
  libs/waivern-mysql/scripts/type-check.sh
Due: format, lint

fix: enable comprehensive type-checking across all packages (#170)
  .pre-commit-config.yaml
  apps/wct/scripts/type-check.sh
  apps/wct/src/wct/metadata.py
  apps/wct/tests/schemas/test_standard_input.py
  apps/wct/tests/test_analysis.py
  apps/wct/tests/test_cli.py
  libs/waivern-community/scripts/type-check.sh
  libs/waivern-community/tests/conftest.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/test_confidence_scorer.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_pattern_matcher.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
  libs/waivern-community/tests/waivern_community/analysers/test_vendor_database_protection.py
  libs/waivern-community/tests/waivern_community/connectors/database/test_base_connector.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/filesystem_mock/source_code/data_model.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/filesystem_mock_lite/source_code/user_model.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_parser.py
  libs/waivern-llm/scripts/type-check.sh
  libs/waivern-mysql/scripts/format.sh
  libs/waivern-mysql/scripts/lint.sh
  libs/waivern-mysql/scripts/type-check.sh
  libs/waivern-rulesets/scripts/type-check.sh
  libs/waivern-rulesets/tests/conftest.py
  libs/waivern-rulesets/tests/waivern_rulesets/test_base.py
Due: format, lint, type-check

docs: reorganise documentation into logical categories
  docs/core-concepts/schema-architecture.md
  docs/core-concepts/wcf-core-componens.md
  docs/development/component-extraction-template.md
  docs/development/shared-package-extraction-template.md
  docs/development_roadmap.md
  docs/feature-plans/dependency-management-strategy.md
  docs/feature-plans/multi-provider-llm-support.md
  docs/how-tos/configuration.md
  docs/how-tos/ide-integration.md
  docs/roadmaps/monorepo-migration/monorepo-migration-completed.md
  docs/roadmaps/monorepo-migration/monorepo-migration-plan.md
Due: none

docs: reorganise documentation into logical categories (#171)
  docs/core-concepts/schema-architecture.md
  docs/core-concepts/wcf-core-componens.md
  docs/development/component-extraction-template.md
  docs/development/shared-package-extraction-template.md
  docs/development_roadmap.md
  docs/feature-plans/dependency-management-strategy.md
  docs/feature-plans/multi-provider-llm-support.md
  docs/how-tos/configuration.md
  docs/how-tos/ide-integration.md
  docs/roadmaps/monorepo-migration/monorepo-migration-completed.md
  docs/roadmaps/monorepo-migration/monorepo-migration-plan.md
Due: none

feat: add ComponentFactory testing utilities and migrate PersonalDataAnalyserConfig to BaseComponentConfiguration
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-core/pyproject.toml
  libs/waivern-core/src/waivern_core/__init__.py
  libs/waivern-core/src/waivern_core/testing.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/types.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_factory.py
Due: format, lint, type-check

fix: resolve circular import by moving prompts to standalone package
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/llm_validation_strategy.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/prompts/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/prompts/personal_data_validation.py
Due: format, lint, type-check

feat: complete Phase 4.1 DI implementation for PersonalDataAnalyser
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-core/src/waivern_core/testing.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/factory.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_analyser.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_factory.py
Due: format, lint, type-check

chore: update .gitignore
  .gitignore
Due: none

fix: restore LLM validation in PersonalDataAnalyser from_properties()
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
Due: format, lint, type-check

docs: update Phase 4.1 with detailed implementation template
  docs/architecture/dependency-injection-implementation-plan.md
Due: none

test: enable LLM validation in file_content_analysis runbook
  apps/wct/runbooks/samples/file_content_analysis.yaml
Due: none

feat: implement DI for PersonalDataAnalyser with ComponentFactory pattern (#172)
  .gitignore
  apps/wct/runbooks/samples/file_content_analysis.yaml
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-core/pyproject.toml
  libs/waivern-core/src/waivern_core/__init__.py
  libs/waivern-core/src/waivern_core/testing.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/factory.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/llm_validation_strategy.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/prompts/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/prompts/personal_data_validation.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/types.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_analyser.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_factory.py
Due: format, lint, type-check

feat: migrate ProcessingPurposeAnalyserConfig to BaseComponentConfiguration
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/types.py
Due: format, lint, type-check

feat: complete ProcessingPurposeAnalyser DI migration
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/factory.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser_llm_validation_behaviour.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_factory.py
Due: format, lint, type-check

fix: implement proper DI-aware from_properties() wrapper
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/__init__.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/analyser.py
Due: format, lint, type-check

test: add integration tests for ProcessingPurposeAnalyser with real LLM
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_integration.py
Due: format, lint

docs: update DI implementation plan for Phase 4.2 completion
  docs/architecture/dependency-injection-implementation-plan.md
Due: none

feat: Phase 4.2 - ProcessingPurposeAnalyser DI migration with ComponentFactory (#173)
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/__init__.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/factory.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/types.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser_llm_validation_behaviour.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_factory.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_integration.py
Due: format, lint, type-check

docs: update the DI implementation plan
  docs/architecture/dependency-injection-implementation-plan.md
Due: none

feat: migrate DataSubjectAnalyser to DI with ComponentFactory pattern
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/__init__.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/factory.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/types.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/test_factory.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser.py
Due: format, lint, type-check

docs: refactor Phase 4 documentation to reduce duplication
  docs/architecture/dependency-injection-implementation-plan.md
Due: none

feat: migrate DataSubjectAnalyser to DI with ComponentFactory pattern (#174)
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/__init__.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/factory.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/types.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/test_factory.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser.py
Due: format, lint, type-check

feat: migrate FilesystemConnector to DI with ComponentFactory pattern
  CLAUDE.md
  apps/wct/runbooks/samples/LAMP_stack.yaml
  apps/wct/runbooks/samples/LAMP_stack_lite.yaml
  apps/wct/runbooks/samples/file_content_analysis.yaml
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.json
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.template.yaml
  apps/wct/tests/test_cli.py
  apps/wct/tests/test_runbook.py
  libs/waivern-community/src/waivern_community/__init__.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/__init__.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/config.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/connector.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/factory.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/test_factory.py
Due: format, lint, type-check

feat: migrate FilesystemConnector to DI with ComponentFactory pattern (#177)
  CLAUDE.md
  apps/wct/runbooks/samples/LAMP_stack.yaml
  apps/wct/runbooks/samples/LAMP_stack_lite.yaml
  apps/wct/runbooks/samples/file_content_analysis.yaml
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.json
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.template.yaml
  apps/wct/tests/test_cli.py
  apps/wct/tests/test_runbook.py
  libs/waivern-community/src/waivern_community/__init__.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/__init__.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/config.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/connector.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/factory.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/test_factory.py
Due: format, lint, type-check

feat: migrate MySQLConnector to DI with ComponentFactory pattern
  apps/wct/runbooks/samples/LAMP_stack.yaml
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.json
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.template.yaml
  apps/wct/tests/schemas/test_standard_input.py
  apps/wct/tests/test_runbook.py
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-community/src/waivern_community/__init__.py
  libs/waivern-mysql/src/waivern_mysql/__init__.py
  libs/waivern-mysql/src/waivern_mysql/config.py
  libs/waivern-mysql/src/waivern_mysql/connector.py
  libs/waivern-mysql/src/waivern_mysql/factory.py
  libs/waivern-mysql/tests/waivern_mysql/test_connector.py
  libs/waivern-mysql/tests/waivern_mysql/test_factory.py
Due: format, lint, type-check

feat: migrate MySQLConnector to DI with ComponentFactory pattern (#179)
  apps/wct/runbooks/samples/LAMP_stack.yaml
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.json
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.template.yaml
  apps/wct/tests/schemas/test_standard_input.py
  apps/wct/tests/test_runbook.py
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-community/src/waivern_community/__init__.py
  libs/waivern-mysql/src/waivern_mysql/__init__.py
  libs/waivern-mysql/src/waivern_mysql/config.py
  libs/waivern-mysql/src/waivern_mysql/connector.py
  libs/waivern-mysql/src/waivern_mysql/factory.py
  libs/waivern-mysql/tests/waivern_mysql/test_connector.py
  libs/waivern-mysql/tests/waivern_mysql/test_factory.py
Due: format, lint, type-check

feat: migrate SourceCodeConnector to DI with ComponentFactory pattern
  apps/wct/runbooks/samples/LAMP_stack.yaml
  libs/waivern-community/src/waivern_community/connectors/source_code/__init__.py
  libs/waivern-community/src/waivern_community/connectors/source_code/config.py
  libs/waivern-community/src/waivern_community/connectors/source_code/connector.py
  libs/waivern-community/src/waivern_community/connectors/source_code/factory.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_factory.py
Due: format, lint, type-check

feat: migrate SourceCodeConnector to DI with ComponentFactory pattern (#181)
  apps/wct/runbooks/samples/LAMP_stack.yaml
  libs/waivern-community/src/waivern_community/connectors/source_code/__init__.py
  libs/waivern-community/src/waivern_community/connectors/source_code/config.py
  libs/waivern-community/src/waivern_community/connectors/source_code/connector.py
  libs/waivern-community/src/waivern_community/connectors/source_code/factory.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_factory.py
Due: format, lint, type-check

feat: migrate SQLiteConnector to DI with ComponentFactory pattern
  apps/wct/runbooks/samples/LAMP_stack_lite.yaml
  apps/wct/tests/integration/test_sqlite_e2e.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/__init__.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/config.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/connector.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/factory.py
  libs/waivern-community/tests/waivern_community/connectors/sqlite/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/sqlite/test_factory.py
Due: format, lint, type-check

feat: migrate SQLiteConnector to DI with ComponentFactory pattern (#183)
  apps/wct/runbooks/samples/LAMP_stack_lite.yaml
  apps/wct/tests/integration/test_sqlite_e2e.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/__init__.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/config.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/connector.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/factory.py
  libs/waivern-community/tests/waivern_community/connectors/sqlite/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/sqlite/test_factory.py
Due: format, lint, type-check

docs: mark Phase 5 complete and export connector factories
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-community/src/waivern_community/connectors/__init__.py
Due: format, lint, type-check

docs: mark connectors DI migration complete and export connector factories (#184)
  docs/architecture/dependency-injection-implementation-plan.md
  libs/waivern-community/src/waivern_community/connectors/__init__.py
Due: format, lint, type-check

feat: integrate executor with DI container and ComponentFactory pattern
  apps/wct/src/wct/cli.py
  apps/wct/src/wct/executor.py
  apps/wct/tests/integration/test_sqlite_e2e.py
  apps/wct/tests/test_cli.py
  apps/wct/tests/test_executor.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/factory.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/factory.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/factory.py
  libs/waivern-community/src/waivern_community/connectors/source_code/factory.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/factory.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/test_factory.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_factory.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/test_factory.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_factory.py
  libs/waivern-community/tests/waivern_community/connectors/sqlite/test_factory.py
  libs/waivern-core/src/waivern_core/component_factory.py
  libs/waivern-core/tests/waivern_core/test_component_factory.py
  libs/waivern-mysql/src/waivern_mysql/factory.py
  libs/waivern-mysql/tests/waivern_mysql/test_factory.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/factory.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_factory.py
Due: format, lint, type-check

docs: update ComponentConfig to reflect dict-only design
  docs/architecture/dependency-injection-implementation-plan.md
  docs/architecture/di-factory-patterns.md
  libs/waivern-core/src/waivern_core/component_factory.py
Due: format, lint, type-check

feat!: remove from_properties() backward compatibility layer
  apps/wct/tests/integration/test_sqlite_e2e.py
  apps/wct/tests/test_executor.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/analyser.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/connector.py
  libs/waivern-community/src/waivern_community/connectors/source_code/connector.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/connector.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/connectors/database/test_base_connector.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_connector.py
  libs/waivern-connectors-database/tests/waivern_connectors_database/test_base_connector.py
  libs/waivern-core/src/waivern_core/base_analyser.py
  libs/waivern-core/src/waivern_core/base_connector.py
  libs/waivern-mysql/src/waivern_mysql/connector.py
  libs/waivern-mysql/tests/waivern_mysql/test_connector.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
Due: format, lint, type-check

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  type-check: any of: \.py$, but not: ^(tests/|apps/wct/tests/|libs/waivern-core/tests/|libs/waivern-community/tests/|libs/waivern-llm/tests/)
