Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

.pre-commit-config.yaml:

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files

  # Local script hooks
  - repo: local
    hooks:
      # Format code using our format script
      - id: format
        name: format
        entry: bash scripts/format.sh
        language: system
        types: [python]
        pass_filenames: true

      # Lint code using our lint script
      - id: lint
        name: lint
        entry: bash scripts/lint.sh
        language: system
        types: [python]
        pass_filenames: true

      # Type check using our type-check script
      - id: type-check
        name: type-check
        entry: bash scripts/type-check.sh
        language: system
        types: [python]
        # don't run on tests
        exclude: ^tests/
        pass_filenames: true

feature: make runbook more descriptive (#103)
  .gitignore
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/executor.py
  src/wct/runbook.py
  tests/wct/test_analysis.py
  tests/wct/test_cli.py
  tests/wct/test_executor.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

feat: add JSON Schema generation for runbooks with comprehensive testing
  src/wct/__main__.py
  src/wct/cli.py
  src/wct/schemas/runbook.py
  tests/wct/schemas/test_runbook.py
  tests/wct/test_cli.py
Due: format, lint, type-check

feat: add bundled schema files and runbook template
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.template.yaml
Due: none

feat: add comprehensive IDE integration documentation and configuration
  .vscode/settings.json
  README.md
  docs/ide-integration.md
Due: none

feat: add comprehensive integration tests for JSON Schema validation
  tests/integration/test_schema_integration.py
Due: format, lint

feat: complete documentation and distribution preparation
  CLAUDE.md
  runbooks/README.md
Due: none

feat: Add JSON Schema support for runbooks (#104)
  .vscode/settings.json
  CLAUDE.md
  README.md
  docs/ide-integration.md
  runbooks/README.md
  src/wct/__main__.py
  src/wct/cli.py
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.template.yaml
  src/wct/schemas/runbook.py
  tests/integration/test_schema_integration.py
  tests/wct/schemas/test_runbook.py
  tests/wct/test_cli.py
Due: format, lint, type-check

fix: update analysis results table column headers for clarity
  src/wct/cli.py
Due: format, lint, type-check

Fix analysis results table column headers (#105)
  src/wct/cli.py
Due: format, lint, type-check

feat: enhance mock filesystem test suite for comprehensive personal data testing
  tests/wct/connectors/filesystem/filesystem_mock/README.md
  tests/wct/connectors/filesystem/filesystem_mock/compliance/edge_cases_international.csv
  tests/wct/connectors/filesystem/filesystem_mock/compliance/subtle_personal_data.xml
  tests/wct/connectors/filesystem/filesystem_mock/config/application_config.yaml
  tests/wct/connectors/filesystem/filesystem_mock/finance/database_dump.sql
  tests/wct/connectors/filesystem/filesystem_mock/hr/genuine_personal_data.txt
  tests/wct/connectors/filesystem/filesystem_mock/legacy/customer_system.c
  tests/wct/connectors/filesystem/filesystem_mock/source_code/auth_service.js
  tests/wct/connectors/filesystem/filesystem_mock/source_code/data_model.py
  tests/wct/connectors/filesystem/filesystem_mock/source_code/user_controller.php
  tests/wct/connectors/filesystem/filesystem_mock/uploads/malformed_data.txt
  tests/wct/connectors/filesystem/filesystem_mock/uploads/mixed_context_realistic.json
Due: format, lint

Add comprehensive log files for privacy compliance testing
  .gitignore
  tests/wct/connectors/filesystem/filesystem_mock/logs/api_requests.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/application.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/audit_trail.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/backup_maintenance.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/database_queries.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/false_positives_technical.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/payment_processing.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/security_auth.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/smtp_email.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/system_errors.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/web_server_access.log
Due: none

feat: enhance mock filesystem test suite for comprehensive privacy compliance testing (#106)
  .gitignore
  tests/wct/connectors/filesystem/filesystem_mock/README.md
  tests/wct/connectors/filesystem/filesystem_mock/compliance/edge_cases_international.csv
  tests/wct/connectors/filesystem/filesystem_mock/compliance/subtle_personal_data.xml
  tests/wct/connectors/filesystem/filesystem_mock/config/application_config.yaml
  tests/wct/connectors/filesystem/filesystem_mock/finance/database_dump.sql
  tests/wct/connectors/filesystem/filesystem_mock/hr/genuine_personal_data.txt
  tests/wct/connectors/filesystem/filesystem_mock/legacy/customer_system.c
  tests/wct/connectors/filesystem/filesystem_mock/logs/api_requests.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/application.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/audit_trail.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/backup_maintenance.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/database_queries.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/false_positives_technical.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/payment_processing.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/security_auth.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/smtp_email.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/system_errors.log
  tests/wct/connectors/filesystem/filesystem_mock/logs/web_server_access.log
  tests/wct/connectors/filesystem/filesystem_mock/source_code/auth_service.js
  tests/wct/connectors/filesystem/filesystem_mock/source_code/data_model.py
  tests/wct/connectors/filesystem/filesystem_mock/source_code/user_controller.php
  tests/wct/connectors/filesystem/filesystem_mock/uploads/malformed_data.txt
  tests/wct/connectors/filesystem/filesystem_mock/uploads/mixed_context_realistic.json
Due: format, lint

feat: add log file analysis to LAMP stack runbook
  runbooks/samples/LAMP_stack.yaml
Due: none

feat: add log file analysis to LAMP stack runbook (#107)
  runbooks/samples/LAMP_stack.yaml
Due: none

feat: add log file analysis to LAMP stack runbook (#107)
  runbooks/samples/LAMP_stack.yaml
  src/wct/connectors/source_code/config.py
  src/wct/connectors/source_code/connector.py
  tests/wct/connectors/source_code/test_config.py
  tests/wct/connectors/source_code/test_connector.py
Due: format, lint, type-check

feat: add user-controlled exclude_patterns to source code connector (#108)
  src/wct/connectors/source_code/config.py
  src/wct/connectors/source_code/connector.py
  tests/wct/connectors/source_code/test_config.py
  tests/wct/connectors/source_code/test_connector.py
Due: format, lint, type-check

feat: add user-controlled exclude_patterns to source code connector (#108)
  src/wct/analysis.py
  src/wct/connectors/source_code/config.py
  src/wct/connectors/source_code/connector.py
  src/wct/executor.py
  src/wct/runbook.py
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  tests/wct/connectors/source_code/test_config.py
  tests/wct/connectors/source_code/test_connector.py
  tests/wct/test_analysis.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

feat: add optional contact property to runbooks and analysis results (#109)
  src/wct/analysis.py
  src/wct/executor.py
  src/wct/runbook.py
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  tests/wct/test_analysis.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

docs: add example contact details to sample runbooks
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
Due: none

docs: add example contact details to sample runbooks (#110)
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
Due: none

fix: resolve runbook.json formatting inconsistency in linting
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  src/wct/schemas/runbook.py
  tests/integration/test_schema_integration.py
Due: format, lint, type-check

Fix runbook.json formatting inconsistency in linting (#111)
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  src/wct/schemas/runbook.py
  tests/integration/test_schema_integration.py
Due: format, lint, type-check

Enable LLM validation by default for processing purpose analyser
  src/wct/analysers/processing_purpose_analyser/types.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
Due: format, lint, type-check

Add strongly-typed processing purpose validation prompts
  src/wct/prompts/processing_purpose_validation.py
  tests/wct/prompts/test_processing_purpose_validation.py
Due: format, lint, type-check

Add LLM validation strategy for processing purpose analyser
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_llm_validation_strategy.py
Due: format, lint, type-check

Add enhanced summary statistics and comprehensive test coverage for processing purpose analyser
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/standard_input.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser_llm_validation_behavior.py
  tests/wct/analysers/processing_purpose_analyser/test_llm_validation_strategy.py
Due: format, lint, type-check

Fix filesystem connector timestamps to use human-readable ISO format
  src/wct/connectors/filesystem/connector.py
  tests/wct/connectors/filesystem/test_connector.py
Due: format, lint, type-check

Add LLM validation for processing purpose analyser to reduce false positives (#112)
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/prompts/processing_purpose_validation.py
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/standard_input.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser_llm_validation_behavior.py
  tests/wct/analysers/processing_purpose_analyser/test_llm_validation_strategy.py
  tests/wct/prompts/test_processing_purpose_validation.py
Due: format, lint, type-check

Fix filesystem connector timestamps to use human-readable ISO format (#113)
  src/wct/connectors/filesystem/connector.py
  tests/wct/connectors/filesystem/test_connector.py
Due: format, lint, type-check

Exclude empty metadata from JSON output
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/executor.py
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/runbook.py
  tests/wct/test_analysis.py
  tests/wct/test_executor.py
Due: format, lint, type-check

Exclude empty metadata from JSON output (#114)
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/executor.py
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/runbook.py
  tests/wct/test_analysis.py
  tests/wct/test_executor.py
Due: format, lint, type-check

Refactor AnalyserConfig to use AnalysisMetadata directly
  runbook.schema.json
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/executor.py
  src/wct/metadata.py
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/runbook.py
  tests/wct/test_analysis.py
  tests/wct/test_executor.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

Refactor AnalyserConfig to use AnalysisMetadata directly (#115)
  runbook.schema.json
  src/wct/analysis.py
  src/wct/executor.py
  src/wct/metadata.py
  src/wct/runbook.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

Refactor LLM validation with type safety and unified architecture
  pyproject.toml
  src/wct/analysers/base.py
  src/wct/analysers/llm_validation/__init__.py
  src/wct/analysers/llm_validation/decision_engine.py
  src/wct/analysers/llm_validation/json_utils.py
  src/wct/analysers/llm_validation/models.py
  src/wct/analysers/llm_validation/strategy.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/connectors/source_code/extractors/classes.py
  src/wct/connectors/source_code/extractors/functions.py
  src/wct/executor.py
  src/wct/prompts/personal_data_validation.py
  src/wct/prompts/processing_purpose_validation.py
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
  src/wct/schemas/source_code.py
  src/wct/schemas/standard_input.py
  tests/wct/analysers/llm_validation/__init__.py
  tests/wct/analysers/llm_validation/test_decision_engine.py
  tests/wct/analysers/llm_validation/test_json_utils.py
  tests/wct/analysers/llm_validation/test_models.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser_llm_validation_behaviour.py
  tests/wct/analysers/processing_purpose_analyser/test_llm_validation_strategy.py
  tests/wct/prompts/test_processing_purpose_validation.py
  tests/wct/test_analysis.py
Due: format, lint, type-check

Refactor LLM validation with type safety and unified architecture (#116)
  pyproject.toml
  src/wct/analysers/base.py
  src/wct/analysers/llm_validation/__init__.py
  src/wct/analysers/llm_validation/decision_engine.py
  src/wct/analysers/llm_validation/json_utils.py
  src/wct/analysers/llm_validation/models.py
  src/wct/analysers/llm_validation/strategy.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/connectors/source_code/extractors/classes.py
  src/wct/connectors/source_code/extractors/functions.py
  src/wct/executor.py
  src/wct/prompts/personal_data_validation.py
  src/wct/prompts/processing_purpose_validation.py
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
  src/wct/schemas/source_code.py
  src/wct/schemas/standard_input.py
  tests/wct/analysers/llm_validation/__init__.py
  tests/wct/analysers/llm_validation/test_decision_engine.py
  tests/wct/analysers/llm_validation/test_json_utils.py
  tests/wct/analysers/llm_validation/test_models.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser_llm_validation_behaviour.py
  tests/wct/analysers/processing_purpose_analyser/test_llm_validation_strategy.py
  tests/wct/prompts/test_processing_purpose_validation.py
  tests/wct/test_analysis.py
Due: format, lint, type-check

Improve test quality: add missing caching tests and fix bad practices
  tests/wct/analysers/utilities/test_ruleset_manager.py
  tests/wct/rulesets/test_base.py
  tests/wct/rulesets/test_data_collection.py
  tests/wct/rulesets/test_personal_data.py
  tests/wct/rulesets/test_processing_purposes.py
Due: format, lint

Simplify filesystem connector metadata to essential fields only
  src/wct/connectors/filesystem/connector.py
  tests/wct/connectors/filesystem/test_connector.py
Due: format, lint, type-check

Make finding-level metadata non-extensible and simplify MySQL connector
  .gitignore
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/connectors/mysql/connector.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  tests/wct/analysers/processing_purpose_analyser/test_pattern_matcher.py
Due: format, lint, type-check
