Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

format:
  name: format
  entry: bash scripts/format.sh
  language: system
  pass_filenames: true

lint:
  name: lint
  entry: bash scripts/lint.sh
  language: system
  pass_filenames: true

type-check:
  name: type-check
  entry: bash scripts/type-check.sh
  language: system
  pass_filenames: true

docs: streamline CLAUDE.md and remove obsolete configuration (#55)
  CLAUDE.md
  wct.yaml
Due: none

refactor: standardise codebase to British English spelling
  README.md
  docker/wordpress/README.md
  runbooks/README.md
  src/wct/analysers/base_compliance.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/source_code/extractors/base.py
  src/wct/connectors/source_code/extractors/classes.py
  src/wct/llm_service.py
  src/wct/rulesets/base.py
  src/wct/rulesets/personal_data_source_code_behaviours.py
  src/wct/rulesets/processing_purposes.py
  src/wct/schemas/processing_purpose_finding.sample.json
  tests/wct/analysers/personal_data_analyser/source_code_mock_php/README.md
Due: format, lint, type-check

refactor: standardise codebase to British English spelling (#56)
  README.md
  docker/wordpress/README.md
  runbooks/README.md
  src/wct/analysers/base_compliance.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/source_code/extractors/base.py
  src/wct/connectors/source_code/extractors/classes.py
  src/wct/llm_service.py
  src/wct/rulesets/base.py
  src/wct/rulesets/personal_data_source_code_behaviours.py
  src/wct/rulesets/processing_purposes.py
  src/wct/schemas/processing_purpose_finding.sample.json
  tests/wct/analysers/personal_data_analyser/source_code_mock_php/README.md
Due: format, lint, type-check

chore: spelling fixes for LAMP_stack.yaml
  runbooks/samples/LAMP_stack.yaml
Due: none

chore: simplify DEBUG messages for the cli output
  src/wct/cli.py
Due: format, lint, type-check

refactor: replace BaseComplianceAnalyser with AnalysisRunner architecture
  CLAUDE.md
  src/wct/analysers/base_compliance.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/runners/__init__.py
  src/wct/analysers/runners/base.py
  src/wct/analysers/runners/llm_validation_runner.py
  src/wct/analysers/runners/pattern_matching_runner.py
  src/wct/analysers/utilities/__init__.py
  src/wct/analysers/utilities/evidence_extractor.py
  src/wct/analysers/utilities/llm_service_manager.py
Due: format, lint, type-check

refactor: restructure pattern-matching rulesets to use structured Rule types
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/runners/pattern_matching_runner.py
  src/wct/cli.py
  src/wct/rulesets/__init__.py
  src/wct/rulesets/base.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/personal_data_code_functions.py
  src/wct/rulesets/personal_data_code_models.py
  src/wct/rulesets/personal_data_source_code_behaviours.py
  src/wct/rulesets/personal_data_sql_schemas.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/types.py
Due: format, lint, type-check

Refactor pattern-matching rulesets to use structured Rule types (#59)
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/runners/pattern_matching_runner.py
  src/wct/cli.py
  src/wct/rulesets/__init__.py
  src/wct/rulesets/base.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/personal_data_code_functions.py
  src/wct/rulesets/personal_data_code_models.py
  src/wct/rulesets/personal_data_source_code_behaviours.py
  src/wct/rulesets/personal_data_sql_schemas.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/types.py
Due: format, lint, type-check

refactor: make Rule class immutable with tuple patterns
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/personal_data_code_functions.py
  src/wct/rulesets/personal_data_code_models.py
  src/wct/rulesets/personal_data_sql_schemas.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/types.py
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

chore: update project instructions and fix linting
  CLAUDE.md
  src/wct/analysers/runners/pattern_matching_runner.py
Due: format, lint, type-check

feat: add version property to Ruleset base class with security enhancements
  src/wct/rulesets/base.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/personal_data_code_functions.py
  src/wct/rulesets/personal_data_code_models.py
  src/wct/rulesets/personal_data_sql_schemas.py
  src/wct/rulesets/processing_purposes.py
  tests/wct/rulesets/test_base.py
  tests/wct/rulesets/test_personal_data.py
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

fix: add type annotations to ruleset rule generation methods
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/personal_data_code_functions.py
  src/wct/rulesets/personal_data_code_models.py
  src/wct/rulesets/personal_data_sql_schemas.py
  src/wct/rulesets/processing_purposes.py
Due: format, lint, type-check

chore: apply pre-commit formatting and linting fixes
  CLAUDE.md
  scripts/init.sh
  src/wct/analysers/base.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/runners/base.py
  src/wct/analysers/runners/llm_validation_runner.py
  src/wct/analysers/runners/pattern_matching_runner.py
  src/wct/analysers/utilities/llm_service_manager.py
  src/wct/connectors/base.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/source_code/extractors/base.py
  src/wct/connectors/source_code/extractors/classes.py
  src/wct/connectors/source_code/parser.py
  src/wct/connectors/wordpress/connector.py
  src/wct/llm_service.py
  src/wct/rulesets/__init__.py
  src/wct/rulesets/base.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/personal_data_code_functions.py
  src/wct/rulesets/personal_data_code_models.py
  src/wct/rulesets/personal_data_sql_schemas.py
  src/wct/rulesets/processing_purposes.py
  src/wct/schemas/source_code.sample.json
  tests/wct/rulesets/test_base.py
  tests/wct/rulesets/test_processing_purposes.py
Due: format, lint, type-check

chore: apply pre-commit formatting and linting fixes
  CLAUDE.md
  scripts/init.sh
  src/wct/analysers/base.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/runners/base.py
  src/wct/analysers/runners/llm_validation_runner.py
  src/wct/analysers/runners/pattern_matching_runner.py
  src/wct/analysers/utilities/llm_service_manager.py
  src/wct/connectors/base.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/source_code/extractors/base.py
  src/wct/connectors/source_code/extractors/classes.py
  src/wct/connectors/source_code/parser.py
  src/wct/connectors/wordpress/connector.py
  src/wct/llm_service.py
  src/wct/rulesets/README.md
  src/wct/rulesets/__init__.py
  src/wct/rulesets/base.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/personal_data_code_functions.py
  src/wct/rulesets/personal_data_code_models.py
  src/wct/rulesets/personal_data_sql_schemas.py
  src/wct/rulesets/processing_purposes.py
  src/wct/schemas/source_code.sample.json
  tests/wct/rulesets/test_base.py
  tests/wct/rulesets/test_processing_purposes.py
Due: format, lint, type-check

feat: enhance compliance coverage and add rulesets documentation (#62)
  src/wct/rulesets/README.md
  src/wct/rulesets/personal_data.py
Due: format, lint, type-check

feat: enhance compliance coverage and add rulesets documentation (#62)
  README.md
  development_roadmap.md
  src/wct/rulesets/README.md
  src/wct/rulesets/personal_data.py
Due: format, lint, type-check

docs: add development roadmap for OSS project launch (#63)
  README.md
  development_roadmap.md
Due: none

docs: move development roadmap to docs/ directory
  README.md
  docs/development_roadmap.md
Due: none

docs: update development roadmap for OSS release (#64)
  README.md
  docs/development_roadmap.md
Due: none

feat: implement strongly typed schema system with versioned loading
  README.md
  docs/development_roadmap.md
  pyproject.toml
  src/wct/schemas/base.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.json
  src/wct/schemas/json_schemas/standard_input/1.0.0/standard_input.json
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
  src/wct/schemas/source_code.py
  src/wct/schemas/standard_input.py
  tests/wct/schemas/__init__.py
  tests/wct/schemas/test_base.py
  tests/wct/schemas/test_personal_data_finding.py
  tests/wct/schemas/test_processing_purpose_finding.py
  tests/wct/schemas/test_source_code.py
  tests/wct/schemas/test_standard_input.py
Due: format, lint, type-check

feat: add sample files to versioned schema directories
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.sample.json
  src/wct/schemas/json_schemas/standard_input/1.0.0/standard_input.sample.json
Due: none

refactor: integrate Message with Schema base class and add tests
  src/wct/message.py
  src/wct/schemas/__init__.py
  tests/wct/schemas/test_base.py
  tests/wct/test_message.py
Due: format, lint, type-check

feat: complete typed schema system migration
  pyproject.toml
  src/wct/analysers/__init__.py
  src/wct/analysers/base.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/__init__.py
  src/wct/connectors/base.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/wordpress/connector.py
  src/wct/executor.py
  src/wct/schema.py
  src/wct/schemas/__init__.py
  src/wct/schemas/base.py
Due: format, lint, type-check

docs: update development roadmap to reflect typed schema completion
  docs/development_roadmap.md
Due: none

feat: implement strongly typed schema system (#65)
  docs/development_roadmap.md
  src/wct/analysers/__init__.py
  src/wct/analysers/base.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/__init__.py
  src/wct/connectors/base.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/wordpress/connector.py
  src/wct/executor.py
  src/wct/message.py
  src/wct/schema.py
  src/wct/schemas/__init__.py
  src/wct/schemas/base.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.json
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.sample.json
  src/wct/schemas/json_schemas/standard_input/1.0.0/standard_input.json
  src/wct/schemas/json_schemas/standard_input/1.0.0/standard_input.sample.json
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
  src/wct/schemas/source_code.py
  src/wct/schemas/standard_input.py
  tests/wct/schemas/__init__.py
  tests/wct/schemas/test_base.py
  tests/wct/schemas/test_personal_data_finding.py
  tests/wct/schemas/test_processing_purpose_finding.py
  tests/wct/schemas/test_source_code.py
  tests/wct/schemas/test_standard_input.py
  tests/wct/test_message.py
Due: format, lint, type-check

feat: complete schema-based runbook validation system
  src/wct/cli.py
  src/wct/executor.py
  src/wct/runbook.py
  src/wct/schemas/__init__.py
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.yaml
  src/wct/schemas/runbook.py
Due: format, lint, type-check

refactor: remove redundant JSON schema files from schemas root
  src/wct/schemas/personal_data_finding.json
  src/wct/schemas/personal_data_finding.sample.json
  src/wct/schemas/processing_purpose_finding.json
  src/wct/schemas/processing_purpose_finding.sample.json
  src/wct/schemas/source_code.json
  src/wct/schemas/source_code.sample.json
  src/wct/schemas/standard_input.json
  src/wct/schemas/standard_input.sample.json
Due: none

test: add comprehensive tests for RunbookSchema class
  tests/wct/schemas/test_runbook.py
Due: format, lint

refactor: clarify Runbook implementation tests and schema constraints
  tests/wct/test_runbook.py
Due: format, lint

feat: implement comprehensive schema-based runbook validation system (#66)
  src/wct/cli.py
  src/wct/executor.py
  src/wct/runbook.py
  src/wct/schemas/__init__.py
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.yaml
  src/wct/schemas/personal_data_finding.json
  src/wct/schemas/personal_data_finding.sample.json
  src/wct/schemas/processing_purpose_finding.json
  src/wct/schemas/processing_purpose_finding.sample.json
  src/wct/schemas/runbook.py
  src/wct/schemas/source_code.json
  src/wct/schemas/source_code.sample.json
  src/wct/schemas/standard_input.json
  src/wct/schemas/standard_input.sample.json
  tests/wct/schemas/test_runbook.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

docs: update documentation for schema-based validation system
  README.md
  src/wct/schemas/README.md
Due: none

docs: update documentation for schema-based validation system (#67)
  README.md
  src/wct/schemas/README.md
Due: none

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  type-check: any of: \.py$, but not: ^tests/
