Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

.pre-commit-config.yaml:

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files
        exclude: ^apps/wct/src/wct/analysers/data_export_analyser/vendor-database/(consensu\.org\.v3\.vendor-list\.json|consensu_db\.db)$

  # Local script hooks - package-aware wrappers
  - repo: local
    hooks:
      # Format code using package-aware wrapper
      - id: format
        name: format
        entry: bash scripts/pre-commit-format.sh
        language: system
        types: [python]
        pass_filenames: true

      # Lint code using package-aware wrapper
      - id: lint
        name: lint
        entry: bash scripts/pre-commit-lint.sh
        language: system
        types: [python]
        pass_filenames: true

      # Type check using package-aware wrapper
      - id: type-check
        name: type-check
        entry: bash scripts/pre-commit-type-check.sh
        language: system
        types: [python]
        # don't run on tests
        exclude: ^(tests/|apps/wct/tests/|libs/waivern-core/tests/|libs/waivern-community/tests/|libs/waivern-llm/tests/)
        pass_filenames: true

test: add config validation tests for ProcessingPurposeAnalyserConfig
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_config.py
Due: format, lint

docs: mark Phase 6 (executor DI integration) as complete
  docs/architecture/dependency-injection-implementation-plan.md
Due: none

docs: update documentation to reflect ComponentFactory architecture
  CLAUDE.md
  README.md
  docs/architecture/di-factory-patterns.md
  docs/core-concepts/dependency-injection.md
Due: none

fix: handle unavailable LLM service gracefully in executor
  apps/wct/src/wct/executor.py
Due: format, lint, type-check

docs: update docs post DI migration
  CLAUDE.md
  README.md
  docs/architecture/dependency-injection-implementation-plan.md
  docs/architecture/di-factory-patterns.md
  docs/core-concepts/wcf-core-components.md
  libs/waivern-personal-data-analyser/README.md
Due: none

docs: update docs post DI migration (#187)
  CLAUDE.md
  README.md
  docs/architecture/dependency-injection-implementation-plan.md
  docs/architecture/di-factory-patterns.md
  docs/core-concepts/wcf-core-components.md
  libs/waivern-personal-data-analyser/README.md
Due: none

docs: add extensibility guides and remote analyser protocol
  docs/architecture/remote-analyser-protocol.md
  docs/development/building-custom-components.md
  docs/development/extending-wcf.md
  docs/future-plans/dynamic-and-agentic-workflows.md
Due: none

docs: add extensibility guides and remote analyser protocol (#192)
  docs/architecture/remote-analyser-protocol.md
  docs/development/building-custom-components.md
  docs/development/extending-wcf.md
  docs/future-plans/dynamic-and-agentic-workflows.md
Due: none

docs: add remote rulesets support to extensibility guides
  docs/development/building-custom-components.md
  docs/development/extending-wcf.md
Due: none

docs: add remote rulesets support to extensibility guides (#193)
  docs/development/building-custom-components.md
  docs/development/extending-wcf.md
Due: none

docs: add schema versioning design document
  docs/development/schema-versioning-design.md
Due: none

docs: add schema versioning design document (#194)
  docs/development/schema-versioning-design.md
Due: none

docs: reorganise development documentation into subdirectories
  docs/development/active/schema-versioning-design.md
  docs/development/building-custom-components.md
  docs/development/guides/component-extraction-template.md
  docs/development/guides/shared-package-extraction-template.md
Due: none

feat: convert Schema from ABC to concrete class with versioning support
  docs/development/active/schema-versioning-execution-plan.md
  docs/development/active/schema-versioning/README.md
  docs/development/active/schema-versioning/step_10_update_analyser_dynamic_loading.md
  docs/development/active/schema-versioning/step_11_implement_executor_version_matching.md
  docs/development/active/schema-versioning/step_12_update_runbook_format.md
  docs/development/active/schema-versioning/step_13_migrate_remaining_components.md
  docs/development/active/schema-versioning/step_1_convert_schema_base_class.md
  docs/development/active/schema-versioning/step_2_update_waivern_core_instantiations.md
  docs/development/active/schema-versioning/step_3_update_personal_data_analyser.md
  docs/development/active/schema-versioning/step_4_update_waivern_community.md
  docs/development/active/schema-versioning/step_5_update_remaining_packages.md
  docs/development/active/schema-versioning/step_6_add_connector_auto_discovery.md
  docs/development/active/schema-versioning/step_7_add_analyser_auto_discovery.md
  docs/development/active/schema-versioning/step_8_create_personal_data_analyser_structure.md
  docs/development/active/schema-versioning/step_9_extract_schema_logic_to_modules.md
  libs/waivern-core/src/waivern_core/component_factory.py
  libs/waivern-core/src/waivern_core/schemas/__init__.py
  libs/waivern-core/src/waivern_core/schemas/base.py
  libs/waivern-core/src/waivern_core/schemas/standard_input.py
  libs/waivern-core/tests/waivern_core/fixtures/test_schema/1.0.0/test_schema.json
  libs/waivern-core/tests/waivern_core/test_schema_base.py
Due: format, lint, type-check

refactor: improve schema architecture with registry pattern and dependency injection
  libs/waivern-core/src/waivern_core/schemas/__init__.py
  libs/waivern-core/src/waivern_core/schemas/base.py
  libs/waivern-core/tests/waivern_core/test_schema_base.py
Due: format, lint, type-check

feat: convert personal data analyser to use schema versioning system
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/factory.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schemas/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schemas/personal_data_finding.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_analyser.py
Due: format, lint, type-check

refactor: remove empty personal_data_finding.py file
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schemas/personal_data_finding.py
Due: format, lint, type-check

feat: update schema instantiations in remaining packages (Step 5)
  apps/wct/src/wct/schemas/README.md
  apps/wct/src/wct/schemas/__init__.py
  apps/wct/tests/integration/test_sqlite_e2e.py
  apps/wct/tests/schemas/test_data_subject_finding.py
  apps/wct/tests/schemas/test_personal_data_finding.py
  apps/wct/tests/schemas/test_processing_purpose_finding.py
  apps/wct/tests/schemas/test_source_code.py
  apps/wct/tests/schemas/test_standard_input.py
  apps/wct/tests/test_executor.py
  libs/waivern-connectors-database/src/waivern_connectors_database/base_connector.py
  libs/waivern-connectors-database/tests/waivern_connectors_database/test_base_connector.py
  libs/waivern-connectors-database/tests/waivern_connectors_database/test_schema_utils.py
  libs/waivern-mysql/src/waivern_mysql/connector.py
  libs/waivern-mysql/src/waivern_mysql/factory.py
  libs/waivern-mysql/tests/waivern_mysql/test_connector.py
Due: format, lint, type-check

feat: complete Step 4 schema instantiation updates with test isolation
  apps/wct/tests/schemas/test_personal_data_finding.py
  apps/wct/tests/schemas/test_processing_purpose_finding.py
  apps/wct/tests/schemas/test_source_code.py
  apps/wct/tests/schemas/test_standard_input.py
  conftest.py
  docs/development/active/schema-versioning/step_1_convert_schema_base_class.md
  docs/development/active/schema-versioning/step_2_update_waivern_core_instantiations.md
  docs/development/active/schema-versioning/step_3_update_personal_data_analyser.md
  docs/development/active/schema-versioning/step_4_update_waivern_community.md
  docs/development/active/schema-versioning/step_5_update_remaining_packages.md
  libs/waivern-community/src/waivern_community/__init__.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/schemas/__init__.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/schemas/data_subject_finding.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/schemas/__init__.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/schemas/processing_purpose_finding.py
  libs/waivern-community/src/waivern_community/connectors/database/base_connector.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/connector.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/factory.py
  libs/waivern-community/src/waivern_community/connectors/source_code/connector.py
  libs/waivern-community/src/waivern_community/connectors/source_code/factory.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/connector.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/factory.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_analyser_llm_validation_behaviour.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/test_integration.py
  libs/waivern-community/tests/waivern_community/analysers/test_base_analyser_chain_logic.py
  libs/waivern-community/tests/waivern_community/connectors/database/test_base_connector.py
  libs/waivern-community/tests/waivern_community/connectors/database/test_schema_utils.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/test_connector.py
  libs/waivern-community/tests/waivern_community/connectors/sqlite/test_connector.py
  libs/waivern-core/src/waivern_core/schemas/base.py
  libs/waivern-core/tests/waivern_core/test_schema_base.py
Due: format, lint, type-check

feat: add auto-discovery to Connector base class
  libs/waivern-core/src/waivern_core/base_connector.py
  libs/waivern-core/tests/waivern_core/test_connector_auto_discovery.py
Due: format, lint, type-check

docs: mark Step 6 as completed
  docs/development/active/schema-versioning/step_6_add_connector_auto_discovery.md
Due: none

feat: add auto-discovery for Analyser input/output schemas
  libs/waivern-core/src/waivern_core/base_analyser.py
  libs/waivern-core/tests/waivern_core/test_analyser_auto_discovery.py
Due: format, lint, type-check

docs: mark Step 7 as completed in schema versioning plan
  docs/development/active/schema-versioning/step_7_add_analyser_auto_discovery.md
Due: none

feat: create schema_readers and schema_producers directory structure for PersonalDataAnalyser
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_producers/README.md
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_producers/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_readers/README.md
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_readers/__init__.py
Due: format, lint, type-check

docs: mark Step 8 as completed in schema versioning plan
  docs/development/active/schema-versioning/step_8_create_personal_data_analyser_structure.md
Due: none

docs: add schema versioning with Pydantic models decision document
  docs/development/schema-versioning-pydantic-models.md
Due: none

feat: add schema reader/producer modules with Pydantic type safety
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_producers/personal_data_finding_1_0_0.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_readers/standard_input_1_0_0.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/schema_producers/__init__.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/schema_producers/test_personal_data_finding_1_0_0.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/schema_readers/__init__.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/schema_readers/test_standard_input_1_0_0.py
Due: format, lint, type-check

feat: add dynamic reader/producer loading to PersonalDataAnalyser
  docs/development/active/schema-versioning/step_10_update_analyser_dynamic_loading.md
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_analyser.py
Due: format, lint, type-check

feat: implement executor schema version matching with auto-discovery
  apps/wct/src/wct/executor.py
  apps/wct/src/wct/runbook.py
  apps/wct/tests/test_executor.py
  apps/wct/tests/test_executor_version_matching.py
  docs/development/active/schema-versioning/step_11_implement_executor_version_matching.md
Due: format, lint, type-check

docs: update step 12 with correct workflow and implementation details
  docs/development/active/schema-versioning/step_12_update_runbook_format.md
Due: none

feat: add schema version format validation to runbook execution steps
  apps/wct/runbook.schema.json
  apps/wct/runbooks/README.md
  apps/wct/runbooks/samples/LAMP_stack_lite.yaml
  apps/wct/src/wct/runbook.py
  apps/wct/tests/test_runbook_version_validation.py
  docs/development/active/schema-versioning/step_12_update_runbook_format.md
Due: format, lint, type-check

feat: implement schema version auto-discovery and validation (#196)
  apps/wct/runbook.schema.json
  apps/wct/runbooks/README.md
  apps/wct/runbooks/samples/LAMP_stack_lite.yaml
  apps/wct/src/wct/executor.py
  apps/wct/src/wct/runbook.py
  apps/wct/tests/test_executor.py
  apps/wct/tests/test_executor_version_matching.py
  apps/wct/tests/test_runbook_version_validation.py
  docs/development/active/schema-versioning/step_10_update_analyser_dynamic_loading.md
  docs/development/active/schema-versioning/step_11_implement_executor_version_matching.md
  docs/development/active/schema-versioning/step_12_update_runbook_format.md
  docs/development/active/schema-versioning/step_6_add_connector_auto_discovery.md
  docs/development/active/schema-versioning/step_7_add_analyser_auto_discovery.md
  docs/development/active/schema-versioning/step_8_create_personal_data_analyser_structure.md
  docs/development/schema-versioning-pydantic-models.md
  libs/waivern-core/src/waivern_core/base_analyser.py
  libs/waivern-core/src/waivern_core/base_connector.py
  libs/waivern-core/tests/waivern_core/test_analyser_auto_discovery.py
  libs/waivern-core/tests/waivern_core/test_connector_auto_discovery.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_producers/README.md
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_producers/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_producers/personal_data_finding_1_0_0.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_readers/README.md
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_readers/__init__.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/schema_readers/standard_input_1_0_0.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/schema_producers/__init__.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/schema_producers/test_personal_data_finding_1_0_0.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/schema_readers/__init__.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/schema_readers/test_standard_input_1_0_0.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_analyser.py
Due: format, lint, type-check

feat: migrate FilesystemConnector to reader/producer pattern
  docs/development/active/schema-versioning/step_13_migrate_remaining_components.md
  libs/waivern-community/src/waivern_community/connectors/filesystem/connector.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/schema_producers/__init__.py
  libs/waivern-community/src/waivern_community/connectors/filesystem/schema_producers/standard_input_1_0_0.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/schema_producers/__init__.py
  libs/waivern-community/tests/waivern_community/connectors/filesystem/schema_producers/test_standard_input_1_0_0.py
Due: format, lint, type-check

feat: migrate DataSubjectAnalyser to reader/producer pattern
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/schema_producers/__init__.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/schema_producers/data_subject_finding_1_0_0.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/schema_readers/__init__.py
  libs/waivern-community/src/waivern_community/analysers/data_subject_analyser/schema_readers/standard_input_1_0_0.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/schema_producers/__init__.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/schema_producers/test_data_subject_finding_1_0_0.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/schema_readers/__init__.py
  libs/waivern-community/tests/waivern_community/analysers/data_subject_analyser/schema_readers/test_standard_input_1_0_0.py
Due: format, lint, type-check

feat: migrate SQLiteConnector to reader/producer pattern
  libs/waivern-community/src/waivern_community/connectors/sqlite/connector.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/schema_producers/__init__.py
  libs/waivern-community/src/waivern_community/connectors/sqlite/schema_producers/standard_input_1_0_0.py
  libs/waivern-community/tests/waivern_community/connectors/sqlite/schema_producers/__init__.py
  libs/waivern-community/tests/waivern_community/connectors/sqlite/schema_producers/test_standard_input_1_0_0.py
Due: format, lint, type-check

feat: migrate MySQLConnector to reader/producer pattern
  libs/waivern-mysql/src/waivern_mysql/connector.py
  libs/waivern-mysql/src/waivern_mysql/schema_producers/__init__.py
  libs/waivern-mysql/src/waivern_mysql/schema_producers/standard_input_1_0_0.py
  libs/waivern-mysql/tests/waivern_mysql/schema_producers/__init__.py
  libs/waivern-mysql/tests/waivern_mysql/schema_producers/test_standard_input_1_0_0.py
Due: format, lint, type-check

feat: migrate ProcessingPurposeAnalyser to reader/producer pattern
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/analyser.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/schema_producers/__init__.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/schema_producers/processing_purpose_finding_1_0_0.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/schema_readers/__init__.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/schema_readers/source_code_1_0_0.py
  libs/waivern-community/src/waivern_community/analysers/processing_purpose_analyser/schema_readers/standard_input_1_0_0.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/schema_producers/__init__.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/schema_producers/test_processing_purpose_finding_1_0_0.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/schema_readers/__init__.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/schema_readers/test_source_code_1_0_0.py
  libs/waivern-community/tests/waivern_community/analysers/processing_purpose_analyser/schema_readers/test_standard_input_1_0_0.py
Due: format, lint, type-check

feat: migrate SourceCodeConnector to reader/producer pattern
  libs/waivern-community/src/waivern_community/connectors/source_code/connector.py
  libs/waivern-community/src/waivern_community/connectors/source_code/schema_producers/__init__.py
  libs/waivern-community/src/waivern_community/connectors/source_code/schema_producers/source_code_1_0_0.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/schema_producers/__init__.py
  libs/waivern-community/tests/waivern_community/connectors/source_code/schema_producers/test_source_code_1_0_0.py
Due: format, lint, type-check
