Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

format:
  name: format
  entry: bash scripts/format.sh
  language: system
  pass_filenames: true

lint:
  name: lint
  entry: bash scripts/lint.sh
  language: system
  pass_filenames: true

type-check:
  name: type-check
  entry: bash scripts/type-check.sh
  language: system
  pass_filenames: true

refactor: remove unused constant and add source code connector tests (#86)
  src/wct/connectors/source_code/connector.py
  tests/wct/connectors/source_code/test_connector.py
  tests/wct/connectors/source_code/test_parser.py
  tests/wct/test_analysis.py
Due: format, lint, type-check

test: add comprehensive unit tests for analysis result handling (#87)
  tests/wct/test_analysis.py
Due: format, lint

refactor: standardize data collection ruleset naming convention
  src/wct/analysers/processing_purpose_analyser/README.md
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/rulesets/__init__.py
  src/wct/rulesets/data_collection.py
  tests/wct/rulesets/test_data_collection.py
Due: format, lint, type-check

refactor: move processing purposes compliance data from metadata to main rule structure
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
  src/wct/rulesets/types.py
  tests/wct/rulesets/test_data_collection.py
  tests/wct/rulesets/test_processing_purposes.py
Due: format, lint, type-check

chore: update processing purposes ruleset patterns
  src/wct/rulesets/processing_purposes.py
Due: format, lint, type-check

refactor: load ruleset data from YAML
  src/wct/prompts/personal_data_validation.py
  src/wct/rulesets/data/data_collection/1.0.0/data_collection.yaml
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/rulesets/data/processing_purposes/1.0.0/processing_purposes.yaml
  src/wct/rulesets/data/service_integrations/1.0.0/service_integrations.yaml
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
  src/wct/rulesets/types.py
  tests/wct/rulesets/test_data_collection.py
  tests/wct/rulesets/test_processing_purposes.py
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

refactor: rulesets format (#88)
  src/wct/analysers/processing_purpose_analyser/README.md
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/prompts/personal_data_validation.py
  src/wct/rulesets/__init__.py
  src/wct/rulesets/data/data_collection/1.0.0/data_collection.yaml
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/rulesets/data/processing_purposes/1.0.0/processing_purposes.yaml
  src/wct/rulesets/data/service_integrations/1.0.0/service_integrations.yaml
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/data_collection_patterns.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
  src/wct/rulesets/types.py
  tests/wct/rulesets/test_data_collection.py
  tests/wct/rulesets/test_processing_purposes.py
  tests/wct/rulesets/test_types.py
Due: format, lint, type-check

docs: update documentation for versioned ruleset architecture
  CLAUDE.md
  README.md
  src/wct/rulesets/README.md
Due: none

docs: update documentation for versioned ruleset architecture (#89)
  CLAUDE.md
  README.md
  src/wct/rulesets/README.md
Due: none

doc: update development roadmap doc to reflect the current state
  docs/development_roadmap.md
Due: none

doc: update development roadmap doc to reflect the current state (#90)
  docs/development_roadmap.md
Due: none

Move config directory inside src/wct package
  src/wct/config/README.md
  src/wct/config/logging-dev.yaml
  src/wct/config/logging-test.yaml
  src/wct/config/logging.yaml
  src/wct/logging.py
  tests/wct/test_logging.py
Due: format, lint, type-check

refactor: move config directory inside src/wct package (#91)
  src/wct/config/README.md
  src/wct/config/logging-dev.yaml
  src/wct/config/logging-test.yaml
  src/wct/config/logging.yaml
  src/wct/logging.py
  tests/wct/test_logging.py
Due: format, lint, type-check

refactor: extract get_project_root to utils module
  src/wct/logging.py
  src/wct/utils.py
  tests/wct/test_logging.py
Due: format, lint, type-check

refactor: simplify OrganisationLoader API and clean up tests
  config/organisation.yaml
  src/wct/analysis.py
  src/wct/organisation.py
  tests/wct/test_analysis.py
  tests/wct/test_organisation.py
Due: format, lint, type-check

Add GDPR Article 30(1)(a) organisation metadata to analysis exports (#92)
  config/organisation.yaml
  src/wct/analysis.py
  src/wct/logging.py
  src/wct/organisation.py
  src/wct/utils.py
  tests/wct/test_analysis.py
  tests/wct/test_logging.py
  tests/wct/test_organisation.py
Due: format, lint, type-check

docs: update to Apache License 2.0
  LICENSE
  LICENSE.txt
  README.md
  src/wct/connectors/LICENSE
Due: none

Update to Apache License 2.0 (#93)
  LICENSE
  LICENSE.txt
  README.md
  src/wct/connectors/LICENSE
Due: none

Add timestamp collection to evidence items
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/analysers/types.py
  src/wct/analysers/utilities/evidence_extractor.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
  tests/wct/analysers/utilities/test_evidence_extractor.py
Due: format, lint, type-check

Add timestamp collection to evidence items (#94)
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/analysers/types.py
  src/wct/analysers/utilities/evidence_extractor.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/personal_data_analyser/test_llm_validation_strategy.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
  tests/wct/analysers/utilities/test_evidence_extractor.py
Due: format, lint, type-check

Refactor evidence collection and compliance data integration
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/README.md
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/analysers/types.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_pattern_matcher.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
Due: format, lint, type-check

Refactor evidence collection and compliance data integration (#95)
  src/wct/analysers/personal_data_analyser/pattern_matcher.py
  src/wct/analysers/personal_data_analyser/types.py
  src/wct/analysers/processing_purpose_analyser/README.md
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
  src/wct/analysers/processing_purpose_analyser/source_code_schema_input_handler.py
  src/wct/analysers/processing_purpose_analyser/types.py
  src/wct/analysers/types.py
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.json
  src/wct/schemas/json_schemas/personal_data_finding/1.0.0/personal_data_finding.sample.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.json
  src/wct/schemas/json_schemas/processing_purpose_finding/1.0.0/processing_purpose_finding.sample.json
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_pattern_matcher.py
  tests/wct/analysers/processing_purpose_analyser/test_source_code_schema_input_handler.py
Due: format, lint, type-check

Update README.md
  README.md
Due: none

refactor: use model_validate() for external data validation in rulesets
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
Due: format, lint, type-check

refactor: use model_validate() for external data validation in rulesets (#96)
  src/wct/rulesets/data_collection.py
  src/wct/rulesets/personal_data.py
  src/wct/rulesets/processing_purposes.py
  src/wct/rulesets/service_integrations.py
Due: format, lint, type-check

chore: code tidy-up
  .gitignore
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
Due: format, lint, type-check

chore: code tidy-up (#97)
  .gitignore
  src/wct/analysers/processing_purpose_analyser/pattern_matcher.py
Due: format, lint, type-check

feat: standardise connector schema discovery to match analyser patterns
  src/wct/connectors/base.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  tests/wct/connectors/filesystem/test_connector.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/connectors/source_code/test_connector.py
  tests/wct/test_executor.py
Due: format, lint, type-check

feat: standardise connector schema discovery to match analyser patterns (#99)
  src/wct/connectors/base.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  tests/wct/connectors/filesystem/test_connector.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/connectors/source_code/test_connector.py
  tests/wct/test_executor.py
Due: format, lint, type-check

doc: update readme.md to include introduction to WCT (#98)
  README.md
Due: none

refactor: standardise connector initialisation patterns
  README.md
  runbooks/samples/LAMP_stack.yaml
  src/wct/connectors/filesystem/config.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/config.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/config.py
  src/wct/connectors/source_code/connector.py
  tests/wct/connectors/filesystem/test_connector.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/connectors/source_code/test_connector.py
Due: format, lint, type-check

Standardise connector initialisation patterns (#100)
  README.md
  runbooks/samples/LAMP_stack.yaml
  src/wct/connectors/filesystem/config.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/config.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/config.py
  src/wct/connectors/source_code/connector.py
  tests/wct/connectors/filesystem/test_connector.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/connectors/source_code/test_connector.py
Due: format, lint, type-check

Refactor: derive schema versions from schema objects instead of hardcoded constants
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.json
  src/wct/schemas/source_code.py
  tests/wct/connectors/source_code/test_connector.py
Due: format, lint, type-check

Refactor: derive schema versions from schema objects instead of hardcoded constants (#101)
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/schemas/json_schemas/source_code/1.0.0/source_code.json
  src/wct/schemas/source_code.py
  tests/wct/connectors/source_code/test_connector.py
Due: format, lint, type-check

Refactor: make config properties private and improve config testing
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/connectors/filesystem/test_config.py
  tests/wct/connectors/filesystem/test_connector.py
  tests/wct/connectors/mysql/test_config.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/connectors/source_code/test_config.py
  tests/wct/connectors/source_code/test_connector.py
Due: format, lint, type-check

Refactor: make config properties private and improve config testing (#102)
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/connectors/filesystem/test_config.py
  tests/wct/connectors/filesystem/test_connector.py
  tests/wct/connectors/mysql/test_config.py
  tests/wct/connectors/mysql/test_connector.py
  tests/wct/connectors/source_code/test_config.py
  tests/wct/connectors/source_code/test_connector.py
Due: format, lint, type-check

Add mandatory name and description fields to execution steps
  .gitignore
  runbooks/samples/LAMP_stack.yaml
  runbooks/samples/file_content_analysis.yaml
  src/wct/executor.py
  src/wct/runbook.py
  tests/wct/test_cli.py
  tests/wct/test_executor.py
  tests/wct/test_runbook.py
Due: format, lint, type-check

Replace analyser names with analysis names in CLI display
  src/wct/analysis.py
  src/wct/cli.py
  src/wct/executor.py
  tests/wct/test_analysis.py
  tests/wct/test_cli.py
  tests/wct/test_executor.py
Due: format, lint, type-check

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  type-check: any of: \.py$, but not: ^tests/
