Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

format:
  name: format
  entry: bash scripts/pre-commit-format.sh
  language: system
  pass_filenames: true

lint:
  name: lint
  entry: bash scripts/pre-commit-lint.sh
  language: system
  pass_filenames: true

type-check:
  name: type-check
  entry: bash scripts/pre-commit-type-check.sh
  language: system
  pass_filenames: true

refactor(filesystem): merge filesystem_mock and filesystem_mock_lite into single directory
  apps/wct/runbooks/samples/LAMP_stack_lite.yaml
  apps/wct/runbooks/samples/file_content_analysis.yaml
  apps/wct/runbooks/samples/github.yaml
  apps/wct/tests/integration/test_data/LAMP_stack_lite.yaml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/README.md
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/compliance/edge_cases_international.csv
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/compliance/encoded_data.xml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/compliance/international_formats.csv
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/compliance/subtle_personal_data.xml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/config/app_config.yaml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/config/application_config.yaml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/finance/customer_data.sql
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/finance/database_dump.sql
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/hr/genuine_personal_data.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/hr/personal_data_sample.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/legacy/customer_system.c
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/mixed_content.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/mixed_content_sample.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/sample_file.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/source_code/auth_controller.php
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/source_code/user_model.py
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/uploads/malformed_data.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/uploads/malformed_samples.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/uploads/mixed_context_realistic.json
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/uploads/support_tickets.json
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock_lite/README_lite.md
Due: format, lint, type-check

refactor(filesystem): merge filesystem_mock and filesystem_mock_lite into single directory (#371)
  apps/wct/runbooks/samples/LAMP_stack_lite.yaml
  apps/wct/runbooks/samples/file_content_analysis.yaml
  apps/wct/runbooks/samples/github.yaml
  apps/wct/tests/integration/test_data/LAMP_stack_lite.yaml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/README.md
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/compliance/edge_cases_international.csv
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/compliance/encoded_data.xml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/compliance/international_formats.csv
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/compliance/subtle_personal_data.xml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/config/app_config.yaml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/config/application_config.yaml
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/finance/customer_data.sql
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/finance/database_dump.sql
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/hr/genuine_personal_data.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/hr/personal_data_sample.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/legacy/customer_system.c
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/mixed_content.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/mixed_content_sample.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/sample_file.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/source_code/auth_controller.php
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/source_code/user_model.py
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/uploads/malformed_data.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/uploads/malformed_samples.txt
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/uploads/mixed_context_realistic.json
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/uploads/support_tickets.json
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock_lite/README_lite.md
Due: format, lint, type-check

refactor(personal-data-analyser): decouple tests from production rulesets
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/pattern_matcher.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_distributed.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_factory.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_pattern_matcher.py
Due: format, lint, type-check

refactor(crypto-quality-analyser): decouple tests from production rulesets
  libs/waivern-crypto-quality-analyser/src/waivern_crypto_quality_analyser/analyser.py
  libs/waivern-crypto-quality-analyser/src/waivern_crypto_quality_analyser/pattern_matcher.py
  libs/waivern-crypto-quality-analyser/tests/waivern_crypto_quality_analyser/test_analyser.py
  libs/waivern-crypto-quality-analyser/tests/waivern_crypto_quality_analyser/test_factory.py
  libs/waivern-crypto-quality-analyser/tests/waivern_crypto_quality_analyser/test_pattern_matcher.py
Due: format, lint, type-check

refactor(security-control-analyser): decouple tests from production rulesets
  libs/waivern-security-control-analyser/src/waivern_security_control_analyser/analyser.py
  libs/waivern-security-control-analyser/src/waivern_security_control_analyser/pattern_matcher.py
  libs/waivern-security-control-analyser/tests/waivern_security_control_analyser/test_analyser.py
  libs/waivern-security-control-analyser/tests/waivern_security_control_analyser/test_factory.py
  libs/waivern-security-control-analyser/tests/waivern_security_control_analyser/test_pattern_matcher.py
Due: format, lint, type-check

refactor(data-subject-analyser): decouple tests from production rulesets
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/analyser.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/pattern_matcher.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/schema_readers/source_code_1_0_0.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/schema_readers/standard_input_1_0_0.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/source_code_schema_input_handler.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/standard_input_schema_input_handler.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/schema_readers/test_source_code_1_0_0.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/schema_readers/test_standard_input_1_0_0.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_analyser.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_distributed.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_factory.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_pattern_matcher.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_source_code_schema_input_handler.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_standard_input_schema_input_handler.py
Due: format, lint, type-check

fix(data-subject-analyser): replace tautological assertion in dense matches test
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_pattern_matcher.py
Due: format, lint, type-check

refactor(data-subject-analyser): cache handler per schema and tighten test scope
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/analyser.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_analyser.py
Due: format, lint, type-check

refactor: decouple analyser tests from production rulesets (#372)
  libs/waivern-crypto-quality-analyser/src/waivern_crypto_quality_analyser/analyser.py
  libs/waivern-crypto-quality-analyser/src/waivern_crypto_quality_analyser/pattern_matcher.py
  libs/waivern-crypto-quality-analyser/tests/waivern_crypto_quality_analyser/test_analyser.py
  libs/waivern-crypto-quality-analyser/tests/waivern_crypto_quality_analyser/test_factory.py
  libs/waivern-crypto-quality-analyser/tests/waivern_crypto_quality_analyser/test_pattern_matcher.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/analyser.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/pattern_matcher.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/schema_readers/source_code_1_0_0.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/schema_readers/standard_input_1_0_0.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/source_code_schema_input_handler.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/standard_input_schema_input_handler.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/schema_readers/test_source_code_1_0_0.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/schema_readers/test_standard_input_1_0_0.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_analyser.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_distributed.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_factory.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_pattern_matcher.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_source_code_schema_input_handler.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_standard_input_schema_input_handler.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/pattern_matcher.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_distributed.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_pattern_matcher.py
  libs/waivern-security-control-analyser/src/waivern_security_control_analyser/analyser.py
  libs/waivern-security-control-analyser/src/waivern_security_control_analyser/pattern_matcher.py
  libs/waivern-security-control-analyser/tests/waivern_security_control_analyser/test_analyser.py
  libs/waivern-security-control-analyser/tests/waivern_security_control_analyser/test_factory.py
  libs/waivern-security-control-analyser/tests/waivern_security_control_analyser/test_pattern_matcher.py
Due: format, lint, type-check

feat(testing): add slow marker and dev-checks-lite for faster iteration
  apps/wct/tests/cli/test_cli_e2e.py
  apps/wct/tests/cli/test_cli_runs.py
  pyproject.toml
  scripts/dev-checks-lite.sh
Due: format, lint

feat(testing): add slow marker and dev-checks-lite for faster iteration (#373)
  apps/wct/tests/cli/test_cli_e2e.py
  apps/wct/tests/cli/test_cli_runs.py
  pyproject.toml
  scripts/dev-checks-lite.sh
Due: format, lint

feat(llm): add configurable sync concurrency limit via WAIVERN_LLM_SYNC_CONCURRENCY
  .env.example
  libs/waivern-llm/src/waivern_llm/di/configuration.py
  libs/waivern-llm/src/waivern_llm/dispatcher.py
  libs/waivern-llm/src/waivern_llm/dispatcher_factory.py
  libs/waivern-llm/tests/di/test_configuration.py
  libs/waivern-llm/tests/waivern_llm/test_dispatcher.py
Due: format, lint, type-check

docs: use dev-checks-lite during development, full dev-checks before committing
  CLAUDE.md
Due: none

feat(llm): add configurable sync concurrency limit (#374)
  .env.example
  CLAUDE.md
  libs/waivern-llm/src/waivern_llm/di/configuration.py
  libs/waivern-llm/src/waivern_llm/dispatcher.py
  libs/waivern-llm/src/waivern_llm/dispatcher_factory.py
  libs/waivern-llm/tests/di/test_configuration.py
  libs/waivern-llm/tests/waivern_llm/test_dispatcher.py
Due: format, lint, type-check

feat(llm): add configurable max_retries for LLM SDK clients
  libs/waivern-llm/src/waivern_llm/di/configuration.py
  libs/waivern-llm/src/waivern_llm/providers/__init__.py
  libs/waivern-llm/src/waivern_llm/providers/anthropic.py
  libs/waivern-llm/src/waivern_llm/providers/google.py
  libs/waivern-llm/src/waivern_llm/providers/openai.py
  libs/waivern-llm/tests/di/test_configuration.py
  libs/waivern-llm/tests/waivern_llm/providers/test_anthropic.py
  libs/waivern-llm/tests/waivern_llm/providers/test_google.py
  libs/waivern-llm/tests/waivern_llm/providers/test_openai.py
Due: format, lint, type-check

feat(llm): add configurable max_retries for LLM SDK clients (#375)
  libs/waivern-llm/src/waivern_llm/di/configuration.py
  libs/waivern-llm/src/waivern_llm/providers/__init__.py
  libs/waivern-llm/src/waivern_llm/providers/anthropic.py
  libs/waivern-llm/src/waivern_llm/providers/google.py
  libs/waivern-llm/src/waivern_llm/providers/openai.py
  libs/waivern-llm/tests/di/test_configuration.py
  libs/waivern-llm/tests/waivern_llm/providers/test_anthropic.py
  libs/waivern-llm/tests/waivern_llm/providers/test_google.py
  libs/waivern-llm/tests/waivern_llm/providers/test_openai.py
Due: format, lint, type-check

refactor: remove SamplingStrategy protocol, inline random sampling in ValidationOrchestrator
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/__init__.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/sampling.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/validation_orchestrator.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_orchestrator_prepare_finalise.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_sampling.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/validation/orchestration.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/validation/orchestration.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/validation/orchestration.py
Due: format, lint, type-check

feat(iso27001): add stratified evidence sampling for control assessment
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/analyser.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/prompts/prompt_builder.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/sampling.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/types.py
  libs/waivern-iso27001-control-assessor/tests/waivern_iso27001_control_assessor/test_prompt_builder.py
  libs/waivern-iso27001-control-assessor/tests/waivern_iso27001_control_assessor/test_sampling.py
Due: format, lint, type-check

fix(iso27001): address review findings in stratified sampling
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/analyser.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/sampling.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/types.py
  libs/waivern-iso27001-control-assessor/tests/waivern_iso27001_control_assessor/test_prompt_builder.py
  libs/waivern-iso27001-control-assessor/tests/waivern_iso27001_control_assessor/test_sampling.py
Due: format, lint, type-check

feat(iso27001): add stratified evidence sampling and remove SamplingStrategy protocol (#376)
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/__init__.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/sampling.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/validation_orchestrator.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_orchestrator_prepare_finalise.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_sampling.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/validation/orchestration.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/analyser.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/prompts/prompt_builder.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/sampling.py
  libs/waivern-iso27001-control-assessor/src/waivern_iso27001_control_assessor/types.py
  libs/waivern-iso27001-control-assessor/tests/waivern_iso27001_control_assessor/test_prompt_builder.py
  libs/waivern-iso27001-control-assessor/tests/waivern_iso27001_control_assessor/test_sampling.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/validation/orchestration.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/validation/orchestration.py
Due: format, lint, type-check

docs: consolidate CLAUDE.md guidance and remove duplicates
  CLAUDE.md
Due: none

feat: add post-checkout hook to symlink local files into worktrees
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/post-checkout-setup-worktree.sh
Due: none

refactor: consolidate CLAUDE.md and add post-checkout worktree hook (#377)
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/post-checkout-setup-worktree.sh
Due: none

fix: confine pre-commit hooks to pre-commit stage
  .pre-commit-config.yaml
Due: none

fix: confine pre-commit hooks to pre-commit stage (#378)
  .pre-commit-config.yaml
Due: none

docs: restructure docs to customer-facing only
  CLAUDE.md
  README.md
  conftest.py
  docs/README.md
  docs/adr/0003-fan-in-handling-and-transformer-pattern.md
  docs/adr/README.md
  docs/architecture/child-runbook-composition.md
  docs/core-concepts/regulatory-framework-architecture.md
  docs/future-plans/dynamic-and-agentic-workflows.md
  docs/future-plans/export-architecture.md
  docs/future-plans/export-re-export-command.md
  docs/future-plans/organisation-config-enhancement.md
  docs/future-plans/remote-analyser-protocol.md
  docs/future-plans/removed-findings-audit-trail.md
  docs/how-tos/configuration.md
  docs/how-tos/extending-wcf.md
  docs/how-tos/testing-patterns.md
  docs/technical-debt/standardise-config-error-handling.md
  libs/waivern-analysers-shared/docs/ruleset-management.md
  libs/waivern-artifact-store/docs/architecture.md
  libs/waivern-artifact-store/docs/artifact-caching-and-external-sources.md
  libs/waivern-core/docs/di-factory-patterns.md
  libs/waivern-core/src/waivern_core/component_factory.py
  libs/waivern-core/src/waivern_core/services/protocols.py
  libs/waivern-core/tests/waivern_core/test_component_factory.py
  libs/waivern-orchestration/README.md
  libs/waivern-orchestration/docs/artifact-centric-orchestration.md
Due: format, lint, type-check

docs: restructure docs to customer-facing only (#379)
  CLAUDE.md
  README.md
  conftest.py
  docs/README.md
  docs/adr/0003-fan-in-handling-and-transformer-pattern.md
  docs/adr/README.md
  docs/architecture/child-runbook-composition.md
  docs/core-concepts/regulatory-framework-architecture.md
  docs/future-plans/dynamic-and-agentic-workflows.md
  docs/future-plans/export-architecture.md
  docs/future-plans/export-re-export-command.md
  docs/future-plans/organisation-config-enhancement.md
  docs/future-plans/remote-analyser-protocol.md
  docs/future-plans/removed-findings-audit-trail.md
  docs/how-tos/configuration.md
  docs/how-tos/extending-wcf.md
  docs/how-tos/testing-patterns.md
  docs/technical-debt/standardise-config-error-handling.md
  libs/waivern-analysers-shared/docs/ruleset-management.md
  libs/waivern-artifact-store/docs/architecture.md
  libs/waivern-artifact-store/docs/artifact-caching-and-external-sources.md
  libs/waivern-core/docs/di-factory-patterns.md
  libs/waivern-core/src/waivern_core/component_factory.py
  libs/waivern-core/src/waivern_core/services/protocols.py
  libs/waivern-core/tests/waivern_core/test_component_factory.py
  libs/waivern-orchestration/README.md
  libs/waivern-orchestration/docs/artifact-centric-orchestration.md
Due: format, lint, type-check

fix(ci): correct runbook sample paths in WCT CLI artifact step
  .github/workflows/ci.yaml
Due: none

chore(ci): bump GitHub Actions to Node 24-compatible versions
  .github/workflows/ci.yaml
Due: none

fix(ci): pin astral-sh/setup-uv to v7 (no v8 major float tag)
  .github/workflows/ci.yaml
Due: none

fix(ci): correct runbook sample paths and bump actions to Node 24 (#380)
  .github/workflows/ci.yaml
Due: none

refactor: remove WIP data export analyser package
  .pre-commit-config.yaml
  CLAUDE.md
  libs/waivern-data-export-analyser/README.md
  libs/waivern-data-export-analyser/pyproject.toml
  libs/waivern-data-export-analyser/scripts/dev-checks.sh
  libs/waivern-data-export-analyser/scripts/format.sh
  libs/waivern-data-export-analyser/scripts/lint.sh
  libs/waivern-data-export-analyser/scripts/type-check.sh
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/__init__.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/analyser.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/factory.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/py.typed
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/types.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/README.md
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/consensu.org.v3.vendor-list.json
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/consensu_db.db
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/consensu_schema.sql
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/create_consensu_db.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/import_consensu_data.py
  libs/waivern-data-export-analyser/tests/conftest.py
  libs/waivern-data-export-analyser/tests/waivern_data_export_analyser/test_vendor_database_protection.py
  pyproject.toml
  uv.lock
Due: format, lint, type-check

refactor: remove WIP data export analyser package (#381)
  .pre-commit-config.yaml
  CLAUDE.md
  libs/waivern-data-export-analyser/README.md
  libs/waivern-data-export-analyser/pyproject.toml
  libs/waivern-data-export-analyser/scripts/dev-checks.sh
  libs/waivern-data-export-analyser/scripts/format.sh
  libs/waivern-data-export-analyser/scripts/lint.sh
  libs/waivern-data-export-analyser/scripts/type-check.sh
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/__init__.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/analyser.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/factory.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/py.typed
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/types.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/README.md
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/consensu.org.v3.vendor-list.json
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/consensu_db.db
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/consensu_schema.sql
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/create_consensu_db.py
  libs/waivern-data-export-analyser/src/waivern_data_export_analyser/vendor_database/import_consensu_data.py
  libs/waivern-data-export-analyser/tests/conftest.py
  libs/waivern-data-export-analyser/tests/waivern_data_export_analyser/test_vendor_database_protection.py
  pyproject.toml
  uv.lock
Due: format, lint, type-check

feat(schemas): add removed_findings audit-trail schema
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/__init__.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/decision_engine.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/models.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/strategy.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_decision_engine.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_models.py
  libs/waivern-core/src/waivern_core/__init__.py
  libs/waivern-core/src/waivern_core/llm_validation_types.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/llm_validation_strategy.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_distributed.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/llm_validation_strategy.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_distributed.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/llm_validation_strategy.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/validation/extended_context_strategy.py
  libs/waivern-processing-purpose-analyser/tests/waivern_processing_purpose_analyser/test_distributed.py
  libs/waivern-schemas/scripts/generate-schemas.sh
  libs/waivern-schemas/src/waivern_schemas/json_schemas/removed_findings/1.0.0/removed_findings.json
  libs/waivern-schemas/src/waivern_schemas/removed_findings/__init__.py
  libs/waivern-schemas/src/waivern_schemas/removed_findings/v1.py
Due: format, lint, type-check

refactor(schemas): replace embedded LLM verdict with reason string
  libs/waivern-schemas/src/waivern_schemas/json_schemas/removed_findings/1.0.0/removed_findings.json
  libs/waivern-schemas/src/waivern_schemas/removed_findings/v1.py
Due: format, lint, type-check

feat(analysers-shared): pair removed findings with human-readable reasons
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/models.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/strategy.py
  libs/waivern-analysers-shared/src/waivern_analysers_shared/llm_validation/validation_orchestrator.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_models.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_orchestrator_prepare_finalise.py
  libs/waivern-analysers-shared/tests/waivern_analysers_shared/llm_validation/test_strategy_finalise_validation.py
Due: format, lint, type-check

refactor(schemas): collapse RemovedFindingsOutput ruleset fields into single URI
  libs/waivern-schemas/src/waivern_schemas/json_schemas/removed_findings/1.0.0/removed_findings.json
  libs/waivern-schemas/src/waivern_schemas/removed_findings/v1.py
Due: format, lint, type-check

feat(analysers): emit removed-findings audit-trail sidecar from finalise
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/analyser.py
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/result_builder.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_distributed.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/result_builder.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_distributed.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/analyser.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/result_builder.py
  libs/waivern-processing-purpose-analyser/tests/waivern_processing_purpose_analyser/test_distributed.py
Due: format, lint, type-check

feat(orchestration): persist sidecars and stamp audit-trail back-reference
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/result_builder.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_distributed.py
  libs/waivern-orchestration/src/waivern_orchestration/executor.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_executor_sidecars.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/result_builder.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_distributed.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/result_builder.py
  libs/waivern-processing-purpose-analyser/tests/waivern_processing_purpose_analyser/test_distributed.py
Due: format, lint, type-check

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  type-check: any of: \.py$, but not: ^(tests/|apps/wct/tests/|libs/waivern-core/tests/|libs/waivern-community/tests/|libs/waivern-llm/tests/)
