Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

.pre-commit-config.yaml:

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files

  # Local script hooks
  - repo: local
    hooks:
      # Format code using our format script
      - id: format
        name: format
        entry: bash scripts/format.sh
        language: system
        types: [python]
        pass_filenames: true

      # Lint code using our lint script
      - id: lint
        name: lint
        entry: bash scripts/lint.sh
        language: system
        types: [python]
        pass_filenames: true

      # Type check using our type-check script
      - id: type-check
        name: type-check
        entry: bash scripts/type-check.sh
        language: system
        types: [python]
        # don't run on tests
        exclude: ^tests/
        pass_filenames: true

refactor: migrate from name/version to type-based schema comparison
  src/wct/analysers/base.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/filesystem/connector.py
  src/wct/executor.py
  src/wct/schemas/base.py
  src/wct/schemas/data_subject_finding.py
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
  src/wct/schemas/source_code.py
  src/wct/schemas/standard_input.py
  tests/wct/test_executor.py
Due: format, lint, type-check

refactor: standardise supported_schemas to tuple type across codebase
  src/wct/analysers/base.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/base.py
  src/wct/connectors/database/base_connector.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/sqlite/connector.py
  tests/wct/analysers/data_subject_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/connectors/database/test_base_connector.py
  tests/wct/test_executor.py
Due: format, lint, type-check

refactor: migrate from name/version to type-based schema comparison (#134)
  src/wct/analysers/base.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/base.py
  src/wct/connectors/database/base_connector.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/sqlite/connector.py
  src/wct/executor.py
  src/wct/schemas/base.py
  src/wct/schemas/data_subject_finding.py
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
  src/wct/schemas/source_code.py
  src/wct/schemas/standard_input.py
  tests/wct/analysers/data_subject_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/connectors/database/test_base_connector.py
  tests/wct/test_executor.py
Due: format, lint, type-check

refactor: standardise schema collections to use list[Schema] consistently
  CLAUDE.md
  src/wct/analysers/base.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/base.py
  src/wct/connectors/database/base_connector.py
  src/wct/connectors/database/schema_utils.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/sqlite/connector.py
  tests/wct/analysers/data_subject_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/connectors/database/test_base_connector.py
  tests/wct/connectors/database/test_schema_utils.py
  tests/wct/test_executor.py
Due: format, lint, type-check

refactor: standardise schema collections to use list[Schema] consistently (#135)
  CLAUDE.md
  src/wct/analysers/base.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  src/wct/connectors/base.py
  src/wct/connectors/database/base_connector.py
  src/wct/connectors/database/schema_utils.py
  src/wct/connectors/filesystem/connector.py
  src/wct/connectors/mysql/connector.py
  src/wct/connectors/source_code/connector.py
  src/wct/connectors/sqlite/connector.py
  tests/wct/analysers/data_subject_analyser/test_analyser.py
  tests/wct/analysers/processing_purpose_analyser/test_analyser.py
  tests/wct/connectors/database/test_base_connector.py
  tests/wct/connectors/database/test_schema_utils.py
  tests/wct/test_executor.py
Due: format, lint, type-check

refactor: replace EuUkRepresentativeConfig with Representatives list
  config/organisation.yaml
  src/wct/organisation.py
  tests/wct/test_organisation.py
Due: format, lint, type-check

refactor: replace EuUkRepresentativeConfig with Representatives list (#136)
  config/organisation.yaml
  src/wct/organisation.py
  tests/wct/test_organisation.py
Due: format, lint, type-check

feat: add TCF vendor database infrastructure for Consensu.org analysis
  .gitignore
  .pre-commit-config.yaml
  config/organisation.yaml
  src/wct/analysers/data_export_analyser/vendor-database/README.md
  src/wct/analysers/data_export_analyser/vendor-database/consensu.org.v3.vendor-list.json
  src/wct/analysers/data_export_analyser/vendor-database/consensu_db.db
  src/wct/analysers/data_export_analyser/vendor-database/consensu_schema.sql
  src/wct/analysers/data_export_analyser/vendor-database/create_consensu_db.py
  src/wct/analysers/data_export_analyser/vendor-database/import_consensu_data.py
  src/wct/organisation.py
  tests/wct/test_organisation.py
Due: format, lint, type-check

feat: implement comprehensive TCF vendor database protection with TDD
  src/wct/analysers/data_export_analyser/vendor-database/import_consensu_data.py
  tests/wct/analysers/test_vendor_database_protection.py
Due: format, lint, type-check

feat: add comprehensive TCF vendor database protection with enterprise-grade testing (#137)
  .gitignore
  .pre-commit-config.yaml
  src/wct/analysers/data_export_analyser/vendor-database/README.md
  src/wct/analysers/data_export_analyser/vendor-database/consensu.org.v3.vendor-list.json
  src/wct/analysers/data_export_analyser/vendor-database/consensu_db.db
  src/wct/analysers/data_export_analyser/vendor-database/consensu_schema.sql
  src/wct/analysers/data_export_analyser/vendor-database/create_consensu_db.py
  src/wct/analysers/data_export_analyser/vendor-database/import_consensu_data.py
  tests/wct/analysers/test_vendor_database_protection.py
Due: format, lint, type-check

Update processing_purposes.yaml
  src/wct/rulesets/data/processing_purposes/1.0.0/processing_purposes.yaml
Due: none

Update personal_data.yaml
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
Due: none

Update data_subjects.yaml
  src/wct/rulesets/data/data_subjects/1.0.0/data_subjects.yaml
Due: none

docs: update Claude.md
  .gitignore
  CLAUDE.md
Due: none

docs: update Claude.md and gitignore formatting (#140)
  .gitignore
  CLAUDE.md
Due: none

fix: align data subject ruleset schema with YAML structure
  src/wct/analysers/data_subject_analyser/pattern_matcher.py
  src/wct/rulesets/data/data_subjects/1.0.0/data_subjects.yaml
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/rulesets/data_subjects.py
  tests/wct/rulesets/test_data_subject.py
Due: format, lint, type-check

fix: align data subject ruleset schema with YAML structure (#141)
  src/wct/analysers/data_subject_analyser/pattern_matcher.py
  src/wct/rulesets/data/data_subjects/1.0.0/data_subjects.yaml
  src/wct/rulesets/data/personal_data/1.0.0/personal_data.yaml
  src/wct/rulesets/data_subjects.py
  tests/wct/rulesets/test_data_subject.py
Due: format, lint, type-check

Update README.md
  README.md
Due: none

fix: correct default model test to properly isolate environment variables
  tests/wct/test_llm_service.py
Due: format, lint

chore: update default model to claude-sonnet-4-5-20250929 and LAMP runbook configuration
  .env.example
  CLAUDE.md
  runbooks/samples/LAMP_stack.yaml
  src/wct/llm_service.py
Due: format, lint, type-check

fix: correct default model test to properly isolate environment variables (#144)
  .env.example
  CLAUDE.md
  runbooks/samples/LAMP_stack.yaml
  src/wct/llm_service.py
  tests/wct/test_llm_service.py
Due: format, lint, type-check

refactor: extract BaseLLMService ABC from AnthropicLLMService
  docs/feature-plans/dependency-management-strategy.md
  docs/feature-plans/multi-provider-llm-support.md
  src/wct/analysers/llm_validation/strategy.py
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  src/wct/analysers/utilities/llm_service_manager.py
  src/wct/llm_service.py
  tests/wct/test_llm_service.py
Due: format, lint, type-check

refactor: extract BaseLLMService ABC from AnthropicLLMService (#145)
  docs/feature-plans/dependency-management-strategy.md
  docs/feature-plans/multi-provider-llm-support.md
  src/wct/analysers/llm_validation/strategy.py
  src/wct/analysers/personal_data_analyser/llm_validation_strategy.py
  src/wct/analysers/processing_purpose_analyser/llm_validation_strategy.py
  src/wct/analysers/utilities/llm_service_manager.py
  src/wct/llm_service.py
  tests/wct/test_llm_service.py
Due: format, lint, type-check

feat: add OpenAI LLM provider with lazy import and complete integration tests
  .env.example
  docs/feature-plans/multi-provider-llm-support.md
  pyproject.toml
  src/wct/llm_service.py
  tests/wct/test_llm_service.py
  uv.lock
Due: format, lint, type-check

feat: add OpenAI LLM provider with lazy import and complete integration tests (#146)
  .env.example
  docs/feature-plans/multi-provider-llm-support.md
  pyproject.toml
  src/wct/llm_service.py
  tests/wct/test_llm_service.py
  uv.lock
Due: format, lint, type-check

feat: add environment-based LLM provider selection with test reorganisation
  .env.example
  docs/feature-plans/multi-provider-llm-support.md
  src/wct/analysers/utilities/llm_service_manager.py
  src/wct/llm_service.py
  tests/wct/llm_service/__init__.py
  tests/wct/llm_service/test_anthropic_service.py
  tests/wct/llm_service/test_base_service.py
  tests/wct/llm_service/test_factory.py
  tests/wct/llm_service/test_integration.py
  tests/wct/llm_service/test_openai_service.py
  tests/wct/test_llm_service.py
Due: format, lint, type-check

docs: add monorepo migration plan for Waivern Compliance Framework
  docs/architecture/monorepo-migration-plan.md
Due: none

feat: add environment-based LLM provider selection (#147)
  .env.example
  docs/architecture/monorepo-migration-plan.md
  docs/feature-plans/multi-provider-llm-support.md
  src/wct/analysers/utilities/llm_service_manager.py
  src/wct/llm_service.py
  tests/wct/llm_service/__init__.py
  tests/wct/llm_service/test_anthropic_service.py
  tests/wct/llm_service/test_base_service.py
  tests/wct/llm_service/test_factory.py
  tests/wct/llm_service/test_integration.py
  tests/wct/llm_service/test_openai_service.py
  tests/wct/test_llm_service.py
Due: format, lint, type-check

feat: add Google LLM provider with lazy import and complete integration tests
  .env.example
  docs/feature-plans/multi-provider-llm-support.md
  pyproject.toml
  src/wct/llm_service.py
  tests/wct/llm_service/test_factory.py
  tests/wct/llm_service/test_google_service.py
  tests/wct/llm_service/test_integration.py
  uv.lock
Due: format, lint, type-check

feat: add Google LLM provider with lazy import and integration tests (#148)
  .env.example
  docs/feature-plans/multi-provider-llm-support.md
  pyproject.toml
  src/wct/llm_service.py
  tests/wct/llm_service/test_factory.py
  tests/wct/llm_service/test_google_service.py
  tests/wct/llm_service/test_integration.py
  uv.lock
Due: format, lint, type-check

refactor: create uv workspace and waivern-core package structure
  docs/migration-imports-before.txt
  libs/waivern-core/README.md
  libs/waivern-core/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

refactor: make JsonSchemaLoader configurable with search paths
  libs/waivern-core/src/waivern_core/schemas/base.py
Due: format, lint, type-check

refactor: move BaseFindingSchema from waivern-core to wct layer
  libs/waivern-core/src/waivern_core/__init__.py
  src/wct/schemas/base.py
  src/wct/schemas/data_subject_finding.py
  src/wct/schemas/personal_data_finding.py
  src/wct/schemas/processing_purpose_finding.py
Due: format, lint, type-check

refactor: move Analyser and error classes to waivern-core framework
  libs/waivern-core/src/waivern_core/__init__.py
  libs/waivern-core/src/waivern_core/base_analyser.py
  libs/waivern-core/src/waivern_core/errors.py
  src/wct/analysers/__init__.py
  src/wct/analysers/data_subject_analyser/analyser.py
  src/wct/analysers/personal_data_analyser/analyser.py
  src/wct/analysers/processing_purpose_analyser/analyser.py
  tests/wct/analysers/personal_data_analyser/test_analyser.py
  tests/wct/analysers/test_base_analyser_chain_logic.py
Due: format, lint, type-check

refactor: remove orphaned BaseFindingSchema from waivern-core
  libs/waivern-core/src/waivern_core/schemas/__init__.py
  libs/waivern-core/src/waivern_core/schemas/base.py
Due: format, lint, type-check

docs: update monorepo migration plan with Pre-Phase 1 completion
  docs/architecture/monorepo-migration-plan.md
Due: none

refactor(phase1): extract BaseRuleset to waivern-core
  libs/waivern-core/src/waivern_core/__init__.py
  libs/waivern-core/src/waivern_core/base_ruleset.py
  src/wct/rulesets/base.py
Due: format, lint, type-check
