Repository waivern-compliance/waivern-compliance: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, type-check

.pre-commit-config.yaml:

repos:
  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-added-large-files
        exclude: ^apps/wct/src/wct/analysers/data_export_analyser/vendor-database/(consensu\.org\.v3\.vendor-list\.json|consensu_db\.db)$

  # Local script hooks - package-aware wrappers
  - repo: local
    hooks:
      # Format code using package-aware wrapper
      - id: format
        name: format
        entry: bash scripts/pre-commit-format.sh
        language: system
        types: [python]
        pass_filenames: true

      # Lint code using package-aware wrapper
      - id: lint
        name: lint
        entry: bash scripts/pre-commit-lint.sh
        language: system
        types: [python]
        pass_filenames: true

      # Type check using package-aware wrapper
      - id: type-check
        name: type-check
        entry: bash scripts/pre-commit-type-check.sh
        language: system
        types: [python]
        # don't run on tests
        exclude: ^(tests/|apps/wct/tests/|libs/waivern-core/tests/|libs/waivern-community/tests/|libs/waivern-llm/tests/)
        pass_filenames: true

docs: remove premature building-custom-components.md and update extending-wcf.md
  docs/development/building-custom-components.md
  docs/development/extending-wcf.md
Due: none

docs: add DAG orchestration and artifact-centric runbook design documents (#240)
  docs/development/active/align-singleton-testing-patterns.md
  docs/development/building-custom-components.md
  docs/development/extending-wcf.md
  docs/future-plans/artifact-centric-runbook.md
  docs/future-plans/business-logic-centric-analysers.md
  docs/future-plans/dag-orchestration-layer.md
  docs/future-plans/dynamic-and-agentic-workflows.md
  docs/future-plans/remote-analyser-protocol.md
Due: none

docs: add artifact-centric orchestration design and implementation plan
  docs/development/active/artifact-centric-orchestration-design.md
  docs/development/active/artifact-centric-orchestration-implementation.md
  docs/development/active/artifact-centric-orchestration/task-1-package-models-errors.md
  docs/development/active/artifact-centric-orchestration/task-2-parser-dag.md
  docs/development/active/artifact-centric-orchestration/task-3-planner.md
  docs/development/active/artifact-centric-orchestration/task-4-artifact-store-dag-executor.md
  docs/development/active/artifact-centric-orchestration/task-5-cli-runbook-migration.md
  docs/development/active/artifact-centric-orchestration/task-6-docs-cleanup.md
Due: none

feat: create waivern-orchestration package with models and errors
  docs/development/active/artifact-centric-orchestration-design.md
  docs/development/active/artifact-centric-orchestration-implementation.md
  docs/development/active/artifact-centric-orchestration/task-1-package-models-errors.md
  docs/development/active/artifact-centric-orchestration/task-2-parser-dag.md
  docs/development/active/artifact-centric-orchestration/task-5-cli-runbook-migration.md
  docs/development/active/artifact-centric-orchestration/task-6-docs-cleanup.md
  docs/future-plans/artifact-centric-runbook.md
  libs/waivern-core/src/waivern_core/schemas/base.py
  libs/waivern-core/tests/waivern_core/test_schema_base.py
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock/source_code/data_model.py
  libs/waivern-filesystem/tests/waivern_filesystem/filesystem_mock_lite/source_code/user_model.py
  libs/waivern-orchestration/README.md
  libs/waivern-orchestration/pyproject.toml
  libs/waivern-orchestration/scripts/format.sh
  libs/waivern-orchestration/scripts/lint.sh
  libs/waivern-orchestration/scripts/type-check.sh
  libs/waivern-orchestration/src/waivern_orchestration/__init__.py
  libs/waivern-orchestration/src/waivern_orchestration/errors.py
  libs/waivern-orchestration/src/waivern_orchestration/models.py
  libs/waivern-orchestration/src/waivern_orchestration/py.typed
  libs/waivern-orchestration/tests/waivern_orchestration/test_models.py
  pyproject.toml
  uv.lock
Due: format, lint, type-check

docs: remove redundant implementation plan
  docs/development/active/artifact-centric-orchestration-implementation.md
Due: none

docs: add GitHub issue reference to task-1
  docs/development/active/artifact-centric-orchestration/task-1-package-models-errors.md
Due: none

feat: add runbook parser and execution DAG to waivern-orchestration
  docs/development/active/artifact-centric-orchestration/task-2-parser-dag.md
  libs/waivern-orchestration/src/waivern_orchestration/__init__.py
  libs/waivern-orchestration/src/waivern_orchestration/dag.py
  libs/waivern-orchestration/src/waivern_orchestration/parser.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_dag.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_parser.py
Due: format, lint, type-check

feat: add Planner with fan-in schema validation to waivern-orchestration
  docs/adr/0003-fan-in-handling-and-transformer-pattern.md
  docs/development/active/artifact-centric-orchestration-design.md
  docs/development/active/artifact-centric-orchestration/phase-2-transformers-design.md
  docs/development/active/artifact-centric-orchestration/phase-3-child-runbooks-design.md
  docs/development/active/artifact-centric-orchestration/task-3-planner.md
  docs/development/active/artifact-centric-orchestration/task-4-artifact-store-dag-executor.md
  docs/development/active/artifact-centric-orchestration/task-6-docs-cleanup.md
  libs/waivern-orchestration/src/waivern_orchestration/__init__.py
  libs/waivern-orchestration/src/waivern_orchestration/models.py
  libs/waivern-orchestration/src/waivern_orchestration/planner.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_planner.py
Due: format, lint, type-check

feat: add DAGExecutor with timeout and analyser execution
  docs/development/active/artifact-centric-orchestration/task-4-artifact-store-dag-executor.md
  docs/development/active/artifact-centric-orchestration/task-5-cli-runbook-migration.md
  docs/development/active/artifact-centric-orchestration/task-6-docs-cleanup.md
  libs/waivern-artifact-store/src/waivern_artifact_store/base.py
  libs/waivern-artifact-store/src/waivern_artifact_store/in_memory.py
  libs/waivern-artifact-store/tests/waivern_artifact_store/test_in_memory.py
  libs/waivern-core/src/waivern_core/__init__.py
  libs/waivern-core/src/waivern_core/services/__init__.py
  libs/waivern-core/src/waivern_core/services/registry.py
  libs/waivern-core/tests/waivern_core/services/test_registry.py
  libs/waivern-orchestration/scripts/dev-checks.sh
  libs/waivern-orchestration/src/waivern_orchestration/__init__.py
  libs/waivern-orchestration/src/waivern_orchestration/executor.py
  libs/waivern-orchestration/src/waivern_orchestration/planner.py
  libs/waivern-orchestration/tests/waivern_orchestration/conftest.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_executor.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_planner.py
Due: format, lint, type-check

docs: mark task-4 as complete
  docs/development/active/artifact-centric-orchestration/task-4-artifact-store-dag-executor.md
Due: none

docs: add output format design, exporter architecture, and execution persistence
  docs/development/active/artifact-centric-orchestration/task-5-cli-runbook-migration.md
  docs/development/active/artifact-centric-orchestration/task-7-gdpr-exporter.md
  docs/future-plans/dag-orchestration-layer.md
  docs/future-plans/execution-persistence.md
Due: none

docs: add output format design and exporter architecture (#249)
  docs/development/active/artifact-centric-orchestration/task-5-cli-runbook-migration.md
  docs/development/active/artifact-centric-orchestration/task-7-gdpr-exporter.md
  docs/future-plans/dag-orchestration-layer.md
  docs/future-plans/execution-persistence.md
Due: none

refactor: use ServiceDescriptor for service registration
  apps/wct/src/wct/executor.py
  libs/waivern-artifact-store/src/waivern_artifact_store/factory.py
  libs/waivern-artifact-store/tests/waivern_artifact_store/test_integration.py
  libs/waivern-core/src/waivern_core/services/container.py
  libs/waivern-core/src/waivern_core/services/registry.py
  libs/waivern-core/tests/waivern_core/services/test_container.py
  libs/waivern-core/tests/waivern_core/services/test_protocols.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_factory.py
  libs/waivern-llm/src/waivern_llm/di/__init__.py
  libs/waivern-llm/src/waivern_llm/di/factory.py
  libs/waivern-llm/tests/di/test_integration.py
  libs/waivern-llm/tests/di/test_provider.py
  libs/waivern-orchestration/tests/waivern_orchestration/conftest.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_executor.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_factory.py
  libs/waivern-processing-purpose-analyser/tests/waivern_processing_purpose_analyser/test_factory.py
Due: format, lint, type-check

refactor: use ServiceDescriptor for service registration (#250)
  apps/wct/src/wct/executor.py
  libs/waivern-artifact-store/src/waivern_artifact_store/factory.py
  libs/waivern-artifact-store/tests/waivern_artifact_store/test_integration.py
  libs/waivern-core/src/waivern_core/services/container.py
  libs/waivern-core/src/waivern_core/services/registry.py
  libs/waivern-core/tests/waivern_core/services/test_container.py
  libs/waivern-core/tests/waivern_core/services/test_protocols.py
  libs/waivern-data-subject-analyser/tests/waivern_data_subject_analyser/test_factory.py
  libs/waivern-llm/src/waivern_llm/di/__init__.py
  libs/waivern-llm/src/waivern_llm/di/factory.py
  libs/waivern-llm/tests/di/test_integration.py
  libs/waivern-llm/tests/di/test_provider.py
  libs/waivern-orchestration/tests/waivern_orchestration/conftest.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_executor.py
  libs/waivern-personal-data-analyser/tests/waivern_personal_data_analyser/test_factory.py
  libs/waivern-processing-purpose-analyser/tests/waivern_processing_purpose_analyser/test_factory.py
Due: format, lint, type-check

docs: update documentation for artifact-centric orchestration
  CLAUDE.md
  apps/wct/runbooks/README.md
  docs/development/completed/artifact-centric-orchestration-design.md
  docs/development/completed/artifact-centric-orchestration/task-1-package-models-errors.md
  docs/development/completed/artifact-centric-orchestration/task-2-parser-dag.md
  docs/development/completed/artifact-centric-orchestration/task-3-planner.md
  docs/development/completed/artifact-centric-orchestration/task-4-artifact-store-dag-executor.md
  docs/development/completed/artifact-centric-orchestration/task-5-cli-runbook-migration.md
  docs/development/completed/artifact-centric-orchestration/task-6-docs-cleanup.md
  docs/future-plans/artifact-centric-runbook.md
  docs/future-plans/dag-orchestration-layer.md
Due: none

docs: add export and multi-schema fan-in design documents
  docs/development/active/artifact-centric-orchestration/task-7-export-and-gdpr.md
  docs/development/active/artifact-centric-orchestration/task-7-gdpr-exporter.md
  docs/future-plans/export-architecture.md
  docs/future-plans/multi-schema-fan-in.md
Due: none

docs: fix American to British spelling
  docs/development/active/artifact-centric-orchestration/task-7-export-and-gdpr.md
  docs/future-plans/export-architecture.md
  docs/future-plans/multi-schema-fan-in.md
Due: none

docs: move metadata methods to component classes
  docs/development/active/artifact-centric-orchestration/task-7-export-and-gdpr.md
  docs/future-plans/export-architecture.md
  docs/future-plans/multi-schema-fan-in.md
Due: none

docs: update child runbooks design and migrate runbook schema
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.json
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.template.yaml
  docs/development/active/artifact-centric-orchestration/phase-2-transformers-design.md
  docs/development/active/artifact-centric-orchestration/phase-3-child-runbooks-design.md
  libs/waivern-orchestration/src/waivern_orchestration/schemas/json_schemas/runbook/1.0.0/runbook.json
Due: none

docs: add export infrastructure and multi-schema fan-in design (#252)
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.json
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.sample.json
  apps/wct/src/wct/schemas/json_schemas/runbook/1.0.0/runbook.template.yaml
  docs/development/active/artifact-centric-orchestration/phase-2-transformers-design.md
  docs/development/active/artifact-centric-orchestration/phase-3-child-runbooks-design.md
  docs/development/active/artifact-centric-orchestration/task-7-export-and-gdpr.md
  docs/development/active/artifact-centric-orchestration/task-7-gdpr-exporter.md
  docs/future-plans/export-architecture.md
  docs/future-plans/multi-schema-fan-in.md
  libs/waivern-orchestration/src/waivern_orchestration/schemas/json_schemas/runbook/1.0.0/runbook.json
Due: none

docs: refocus Task 7 on export infrastructure (remove GDPR scope)
  docs/development/active/artifact-centric-orchestration/task-7-export-and-fan-in.md
Due: none

docs: refocus Task 7 on export infrastructure (#253)
  docs/development/active/artifact-centric-orchestration/task-7-export-and-fan-in.md
Due: none

fix: lazy-load LLM service only when validation enabled
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/factory.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/factory.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/factory.py
Due: format, lint, type-check

refactor: remove redundant JSON schema validation from Message objects
  libs/waivern-data-subject-analyser/src/waivern_data_subject_analyser/analyser.py
  libs/waivern-filesystem/src/waivern_filesystem/connector.py
  libs/waivern-filesystem/tests/waivern_filesystem/test_connector.py
  libs/waivern-mysql/src/waivern_mysql/connector.py
  libs/waivern-personal-data-analyser/src/waivern_personal_data_analyser/analyser.py
  libs/waivern-processing-purpose-analyser/src/waivern_processing_purpose_analyser/analyser.py
  libs/waivern-source-code-analyser/src/waivern_source_code_analyser/analyser.py
  libs/waivern-sqlite/src/waivern_sqlite/connector.py
  libs/waivern-sqlite/tests/waivern_sqlite/test_connector.py
Due: format, lint, type-check

fix: resolve infinite loop when skipped artifacts mixed with executing ones
  libs/waivern-orchestration/src/waivern_orchestration/executor.py
Due: format, lint, type-check

refactor: replace emojis with colour-coded status in results table
  apps/wct/src/wct/cli.py
Due: format, lint, type-check

refactor: simplify status formatting with constants
  apps/wct/src/wct/cli.py
Due: format, lint, type-check

docs: update Task 7c completion status and analyser interface docs
  CLAUDE.md
  docs/development/active/artifact-centric-orchestration/task-7-export-and-fan-in.md
Due: none

docs: mark Task 7b as complete
  docs/development/active/artifact-centric-orchestration/task-7-export-and-fan-in.md
Due: none

feat: add compliance framework declaration to component base classes
  docs/future-plans/export-architecture.md
  libs/waivern-core/src/waivern_core/base_analyser.py
  libs/waivern-core/src/waivern_core/base_connector.py
  libs/waivern-core/tests/waivern_core/test_base_analyser.py
  libs/waivern-core/tests/waivern_core/test_base_connector.py
Due: format, lint, type-check

feat: implement JSON exporter with CoreExport foundation
  apps/wct/scripts/dev-checks.sh
  apps/wct/src/wct/exporters/__init__.py
  apps/wct/src/wct/exporters/core.py
  apps/wct/src/wct/exporters/json_exporter.py
  apps/wct/src/wct/exporters/protocol.py
  apps/wct/src/wct/exporters/registry.py
  apps/wct/tests/exporters/test_core.py
  apps/wct/tests/exporters/test_json_exporter.py
  apps/wct/tests/exporters/test_registry.py
  conftest.py
  docs/development/active/artifact-centric-orchestration/task-7-export-and-fan-in.md
  docs/future-plans/export-architecture.md
  libs/waivern-core/src/waivern_core/schemas/registry.py
  libs/waivern-orchestration/src/waivern_orchestration/executor.py
  libs/waivern-orchestration/src/waivern_orchestration/models.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_executor.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_models.py
  libs/waivern-rulesets/src/waivern_rulesets/base.py
Due: format, lint, type-check

feat: implement export infrastructure foundation (#255)
  apps/wct/scripts/dev-checks.sh
  apps/wct/src/wct/exporters/__init__.py
  apps/wct/src/wct/exporters/core.py
  apps/wct/src/wct/exporters/json_exporter.py
  apps/wct/src/wct/exporters/protocol.py
  apps/wct/src/wct/exporters/registry.py
  apps/wct/tests/exporters/test_core.py
  apps/wct/tests/exporters/test_json_exporter.py
  apps/wct/tests/exporters/test_registry.py
  conftest.py
  docs/development/active/artifact-centric-orchestration/task-7-export-and-fan-in.md
  docs/future-plans/export-architecture.md
  libs/waivern-core/src/waivern_core/base_analyser.py
  libs/waivern-core/src/waivern_core/base_connector.py
  libs/waivern-core/src/waivern_core/schemas/registry.py
  libs/waivern-core/tests/waivern_core/test_base_analyser.py
  libs/waivern-core/tests/waivern_core/test_base_connector.py
  libs/waivern-orchestration/src/waivern_orchestration/executor.py
  libs/waivern-orchestration/src/waivern_orchestration/models.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_executor.py
  libs/waivern-orchestration/tests/waivern_orchestration/test_models.py
  libs/waivern-rulesets/src/waivern_rulesets/base.py
Due: format, lint, type-check

feat: implement exporter detection and refactor CLI
  apps/wct/src/wct/cli.py
  apps/wct/tests/cli/test_cli_e2e.py
Due: format, lint, type-check

feat: add --exporter flag for manual exporter override
  apps/wct/src/wct/__main__.py
  apps/wct/src/wct/cli.py
  apps/wct/tests/cli/test_cli_e2e.py
Due: format, lint, type-check

docs: add TODO comment to skipped test for IDE tracking
  apps/wct/tests/cli/test_cli_e2e.py
Due: format, lint
